{% load i18n %}
{% trans "Terug naar landelijk standaardantwoord (verwijder lokale variant)" as default_title %}
<a href="{% url 'gemeentes:antwoord_delete' gemeente_slug=gemeente.slug antwoord_pk=antwoord.pk %}"
    data-toggle="tooltip" title="{{title|default:default_title}}"
    class="btn btn-danger float-right ml-2 delete-button delete-response {{extra_classes}}">
    <i class="cui-trash"></i> {{label}}
</a>