{% load i18n %}
<button class="btn btn-success float-right mt-2 accept-button"
    data-target-url="{% url 'gemeentes:antwoord_update' gemeente_slug=gemeente.slug antwoord_pk=antwoord.pk %}"
    data-response="{{response}}">
    <i class="cui-check"></i> {% trans "Lokale variant klopt nog" %}
</button>