{% load i18n %}
{% trans "Lokale variant aanmaken" as default_label %}
<a href="{% url "gemeentes:antwoord_create" gemeente_slug=gemeente.slug %}?utter_name={{ utter_name }}"
    class="{{custom_classes|default:"btn btn-success float-right ml-2"}}">
    <i class="{{icon_class|default:"cui-library-add"}}"></i> {{label|default:default_label}}
</a>