{% load i18n %}
{% trans "Lokale variant aanpassen" as default_label %}
<a href="{% url 'gemeentes:antwoord_update' gemeente_slug=gemeente.slug antwoord_pk=antwoord.pk %}"
    class="btn btn-primary float-right ml-2">
    <i class="cui-pencil"></i> {{label|default:default_label}}
</a>