<div class="auditlog">
    <b>Antwoord aangepast op {{utterresponse.modified_on}}{% if utterresponse.history.latest %} door {{utterresponse.history.latest.actor.first_name}} {{utterresponse.history.latest.actor.last_name}}{% endif %}</b>
</div>