{% load i18n markdownify %}

{% if metadata %}
    <p id="hint_id_response" class="form-text mb-3"><i>{{ metadata.help_text|markdownify }}</i></p>
    <table class="table table-hover hyperlink-metadata" id="hyperlink-metadata">
        <tr>
            <td><b>{% trans "Naam" %}</b></td>
            <td>{{ metadata.verbose_name }}</td>
        </tr>
        <tr>
            <td><b>{% trans "Categorie" %}</b></td>
            <td>{{ metadata.category }}</td>
        </tr>
    </table>
{% endif %}
