{% load i18n %}
<button class="btn btn-warning toggle-prod-data float-right {{extra_classes}}" data-target="#row-{{utter_name}}" data-untoggle-text="{% trans 'Verberg live antwoord' %}">
    {% comment %} <i class="cui-toggle-off"></i> {% endcomment %}
    {% trans "Toon live antwoord" %}
</button>