{% load i18n %}

{% if utter_metadata %}
    <table class="table table-hover utter-metadata" id="utter-metadata">
    {% if utter_metadata.questions %}
        <tr>
            <td><b>{% trans "Klantvraag/vragen" %}</b></td>
            <td>
                <ul class="utter-metadata__list">
                    {% for question in utter_metadata.questions %}
                        <li>{{ question }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
    {% if utter_metadata.examples %}
        <tr>
            <td><b>{% trans "Voorbeeld antwoord(en) Gem" %}</b></td>
            <td>
                <ul class="utter-metadata__list">
                    {% for example in utter_metadata.examples %}
                        <li>{{ example }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
    {% if utter_metadata.related %}
        <tr>
            <td><b>{% trans "Vergelijkbare antwoorden" %}</b></td>
            <td>
                <ul class="utter-metadata__list">
                    {% for related in utter_metadata.related %}
                        <li>{{ related }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
    </table>
{% endif %}
