{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools-items %}
    {% if settings.ENVIRONMENT != "production" %}
    <li>
        <a class="historylink" href="{% url 'admin:import_hyperlinks' %}">{% trans "Import hyperlinks" %}</a>
    </li>
    {% endif %}
    <li>
        <a class="historylink" href="{% url 'admin:export_hyperlinks' %}">{% trans "Export hyperlinks" %}</a>
    </li>
    {{ block.super }}
{% endblock %}
