{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %} {% trans "Import hyperlinks" %} {{ block.super }} {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:utters_hyperlink_changelist' %}">{% trans 'Hyperlinks' %}</a>
&rsaquo; {% trans 'Importeer hyperlinks' %}
</div>
{% endblock %}

{% block content %}
    <h1>{% trans 'Importeer hyperlinks' %}</h1>
    <div id="content-main">
        <form action="" method="POST" enctype="multipart/form-data">
            <div>
                <fieldset class="module aligned ">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label.capitalize }}: {{ field }}<br/>
                        {{ field.help_text }}<br/><br/>
                    {% endfor %}
                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="{% trans 'Importeren' %}" name="_import_hyperlinks">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
