{% extends "admin/solo/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
    <li>
        <a class="historylink" href="{% url 'admin:import_subjects' %}">{% trans "Importeer onderwerpen" %}</a>
    </li>
    {{ block.super }}
{% endblock %}
