{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools-items %}
    <li>
        <a class="historylink" href="{% url 'admin:import_default_responses' %}">{% trans "Import default responses" %}</a>
    </li>
    {{ block.super }}
{% endblock %}
