{% load i18n %}
{% spaceless %}
<div class="row border-bottom">
    <div class="story-col story-col-user"><h4>{% trans "Berichten gebruiker" %}</h4></div>
    <div class="story-col story-col-bot"><h4>{% trans "Berichten Gem" %}<h4></div>
</div>

{% endspaceless %}
