
{% load i18n l10n markdownify format_response lookup %}
{% spaceless %}
{% if first == False %}
    <hr class="story-divider">
{% endif %}
{% if variant %}
    <hr>
{% endif %}

<h4 class="story-title mt-2">Story:</h4>

<div class="header d-flex justify-content-sm-between">
{% if story.metadata.description %}<h5 class="story-description mt-2 d-inline"><b>{% trans "Beschrijving" %}</b>: {{ story.metadata.description }}</h5>{% endif %}

{% if site_config.story_toggling_enabled and story.story_id %}
    {% if not variant %}
        <div class="d-block ml-auto">
            <div class="story-toggle-title {% if not settings %}d-none{% endif %}">
                <h5 class="mt-2 ml-auto">Story ingeschakeld?</h5>
            </div>

            <div class="story-toggle-title-undefined {% if settings %}d-none{% endif %}">
                {% if not site_config.story_settings_default %}<i class="utter-changed-warning cui-warning text-danger"></i>{% endif %}
                <h5 class="mt-2 ml-auto">Story nog niet expliciet in- of uitgeschakeld</h5>
            </div>

            <select class="toggle-story custom-select mb-2" data-story-id="{{story.story_id}}" {% if settings %}data-has-obj="true"{% endif %}>
                {% comment %} Show all organisations here, based on API {% endcomment %}
                {% if not settings %}<option value="empty" selected>Standaardwaarde: {% if site_config.story_settings_default %} ingeschakeld {% else %} uitgeschakeld {% endif %}</option>{% endif %}
                <option {% if settings.enabled and not settings.handover_to_organisation %}selected{% endif %} value="enabled">Ingeschakeld</option>
                <option {% if settings and not settings.enabled %}selected{% endif %} value="disabled">Uitgeschakeld</option>
                <option {% if settings and settings.crisis_answer %}selected{% endif %} value="crisis_answer">Crisisantwoord</option>
                <option {% if settings and settings.parking_answer %}selected{% endif %} value="parking_answer">Parkerenantwoord</option>
                <option {% if settings and settings.handover_livechat %}selected{% endif %} value="handover_livechat">Doorschakelen naar medewerker</option>
                {% for option in handover_options %}
                    <option {% if settings and settings.handover_to_organisation == option %}selected{% endif %} value="{{option}}">Doorschakelen naar {{option}}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endif %}
</div>

<div class="row story-row {% if not variant %}{% endif %}" role="button">
    <table class="table table-borderless table-hover">
        {% for iteration in story.messages %}
            <tr>
                <td class="story-col story-col-user">
                    <ul class="story-user-messages">
                    {% for message in iteration.user|slice:":5" %}
                        <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td class="story-col story-col-bot"></td>
            </tr>
            <tr>
                <td class="story-col story-col-user"></td>
                <td class="story-col story-col-bot">
                    {% for message in iteration.bot %}

                        {% for text in message.text %}

                            {% if text.instance.gemeente %}
                                {% include "utters/includes/auditlog.html" with utterresponse=text.instance only %}
                            {% endif %}


                            <div class="story-utter">
                                <div class="flex-column">
                                    {% include "stories/includes/bot_response.html" with text=text only %}
                                </div>
                                {% if text.instance and "utters.utter_write" in perms %}
                                    <div class="story-utter-buttons">
                                    {% with text.instance as object %}
                                        {% if object.gemeente %}
                                            {% include "utters/includes/antwoord_update.html" with gemeente=current_gemeente antwoord=object only %}
                                            {% include "utters/includes/antwoord_delete.html" with gemeente=current_gemeente antwoord=object only %}
                                        {% else %}
                                            {% include "utters/includes/antwoord_create.html" with gemeente=current_gemeente utter_name=object.utter only %}
                                        {% endif %}
                                    {% endwith %}
                                    </div>
                                {% endif %}
                            </div>

                            {% if not forloop.last %}<hr>{% endif %}
                        {% endfor %}

                        {% if message.buttons %}
                        <div class="story-utter">
                            <div>
                                {% trans "Knoppen:" %}
                                {% for button in message.buttons %}
                                    <div class="widget-button">{{button.title}}</div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        {% if not forloop.last %}<hr>{% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endspaceless %}
