{% extends "master.html" %}
{% load static i18n %}

{% block title %}Antwoorden CMS{% endblock %}

{% block body-class %}{% trans "Statistieken" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Home" %}
                </div>
                <div class="card-body">
                    {% trans "Welkom op het Antwoorden CMS!" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
