{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Antwoorden" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Specifieke antwoorden" 'gemeentes:antwoorden_list' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoorden voor gemeente" %} {{current_gemeente}} {% if request.GET.category %}{% trans "in categorie" %} {{ request.GET.category }}{% endif %}</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'components/search/search_bar.html' %}
                    </div>
                    <table class="table table-hover">
                        {% include 'utters/table/header_antwoord.html' only with sort=sort order=order %}
                        {% for data in utters %}
                            {% if data.local_override_prod %}
                                {% include 'utters/table/row_antwoord.html' with antwoord=data.local_override_prod utter_name=data.utter_name metadata=data.metadata.metadata gemeente=current_gemeente %}
                            {% else %}
                                {% include 'utters/table/row_antwoord_editable.html' with antwoord=data.local_default_prod metadata=data.metadata.metadata utter_name=data.utter_name current_gemeente=current_gemeente %}
                            {% endif %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
