{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs markdownify %}

{% block title %}Antwoorden CMS | {% trans "Antwoord aanmaken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% if required_utter %}
        {% breadcrumb "Noodzakelijke antwoorden" 'gemeentes:antwoord_list_editable_required' gemeente_slug=current_gemeente.slug %}
    {% else %}
        {% breadcrumb "Aanpasbare antwoorden" 'gemeentes:antwoord_list' gemeente_slug=current_gemeente.slug %}
    {% endif %}
    {% breadcrumb "Antwoord aanmaken" 'gemeentes:antwoord_create' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoord" %} {{ utter_data.utter }}</b>
                </div>
                <div class="card-body">
                    {% if local_utter %}
                        <h4>{% trans "Er bestaat al een lokale utter voor deze generieke utter" %}</h4>
                    {% else %}
                        {% include 'utters/includes/utter_metadata.html' with utter_metadata=utter_data.metadata %}
                        <form class="" method="post">{% csrf_token %}
                            {{ form|crispy }}
                            <p id="hint_id_response" class="form-text mb-3"><i>{{ utter_data.metadata.helptext|markdownify }}</i></p>
                            <button class="btn btn-primary" id="submit" type="submit">{% trans "Opslaan" %}</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
