{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Antwoord" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Specifieke antwoorden" 'gemeentes:antwoord_list' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Antwoord" 'gemeentes:antwoord_read' gemeente_slug=current_gemeente.slug antwoord_pk=object.pk %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoord" %} {{object.utter}}</b>
                    {% if "utters.utter_write" in perms %}
                        {% trans "Verwijderen" as delete_label %}
                        {% include "utters/includes/antwoord_delete.html" with gemeente=current_gemeente antwoord=object label=delete_label only %}
                        {% include "utters/includes/antwoord_update.html" with gemeente=current_gemeente antwoord=object only %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th scope="row">{% trans "Utternaam" %}</th>
                            <td>{{object.utter}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Antwoord" %}</th>
                            <td>{{object.response}}</td>
                        </tr>
                        {% if object.gemeente %}
                            <tr>
                                <th scope="row">{% trans "Gemeente" %}</th>
                                <td>{{object.gemeente}}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
