{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Antwoorden CMS | {% if required_utters %}{% trans "Noodzakelijke antwoorden" %}{% else %}{% trans "Aanpasbare antwoorden" %}{% endif %}
{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% if required_utters %}
        {% breadcrumb "Noodzakelijke antwoorden" 'gemeentes:antwoord_list_editable_required' gemeente_slug=current_gemeente.slug %}
    {% else %}
        {% breadcrumb "Aanpasbare antwoorden" 'gemeentes:antwoord_list_editable' gemeente_slug=current_gemeente.slug %}
    {% endif %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% if required_utters %}{% trans "Noodzakelijke antwoorden" %}{% else %}{% trans "Aanpasbare antwoorden" %}{% endif %}</b>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        {% if utterresponse_list %}
                            {% include 'utters/table/header_antwoord_editable.html' only %}
                        {% else %}
                            {% if required_utters %}
                                {% trans "Alle noodzakelijk aan te passen antwoorden zijn ingevuld" %}
                            {% else %}
                                {% trans "Alle optioneel aanpasbare antwoorden zijn ingevuld" %}
                            {% endif %}
                        {% endif %}
                        {% for utter_name, antwoord in utterresponse_list %}
                            {% include 'utters/table/row_antwoord_editable.html' with antwoord=antwoord utter_name=utter_name current_gemeente=current_gemeente %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
