{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs markdownify %}

{% block title %}Antwoorden CMS | {% trans "Antwoord bijwerken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Specifieke antwoorden" 'gemeentes:antwoord_list' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Antwoord bijwerken" 'gemeentes:antwoord_update' gemeente_slug=current_gemeente.slug antwoord_pk=object.pk %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoord" %} {{object.utter}}</b>
                </div>
                <div class="card-body">
                    {% include 'utters/includes/utter_metadata.html' with utter_metadata=utter_data.metadata %}
                    <form class="" method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <p id="hint_id_response" class="form-text mb-3"><i>{{ utter_data.metadata.helptext|markdownify }}</i></p>
                        <button class="btn btn-primary" id="submit" type="submit">{% trans "Opslaan" %}</input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
