{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs lookup %}

{% block title %}Antwoorden CMS | {% trans "Noodzakelijke hyperlinks" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Noodzakelijke hyperlinks" 'gemeentes:hyperlink_list_editable' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Noodzakelijke hyperlinks voor gemeente" %} {{current_gemeente}}</b>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        {% if object_list %}
                            {% include 'utters/table/header_hyperlink.html' only %}
                        {% else %}
                            {% trans "Alle noodzakelijk aan te passen hyperlinks zijn ingevuld" %}
                        {% endif %}
                        {% for hyperlink in object_list %}
                            {% include 'utters/table/row_hyperlink_editable.html' with verbose_name=metadata|lookup:hyperlink.name name=hyperlink.name gemeente=current_gemeente %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
