{% extends "master.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block title %}Antwoorden CMS | {% trans "Gemeente" %} {{object.name}}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div id="ui-view">
    <h3>{% trans "Gemeente" %} {{object.name}}</h3>
    {# Required to edit hyperlinks/utters #}

    {% if num_local_utters_required or num_variables_missing or num_hyperlinks_missing %}
    <div class="row mb-4 required-tiles">
        {% if "utters.hyperlink_read" in perms %}
            {% if num_hyperlinks_missing %}
            {# Dynamically defined hyperlinks #}
            <div class="col-sm-6 col-md-2">
                <a href="{% url 'gemeentes:dynamic_required_hyperlink_list' gemeente_slug=object.slug %}" class="unvisited">
                    <div class="dashboard-tile card-short text-white bg-danger">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="cui-warning"></i>
                            </div>
                            <div class="text-value">{{ num_hyperlinks_missing }}</div>
                            <small class="text text-uppercase font-weight-bold">{% trans "Noodzakelijk aan te passen hyperlinks" %}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% if num_variables_missing %}
            <div class="col-sm-6 col-md-2">
                <a href="{% url 'gemeentes:hyperlink_list_editable' gemeente_slug=object.slug %}" class="unvisited">
                    <div class="dashboard-tile card-short text-white bg-danger">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="cui-warning"></i>
                            </div>
                            <div class="text-value">{{ num_variables_missing }}</div>
                            <small class="text text-uppercase font-weight-bold">{% trans "Noodzakelijk aan te passen leges" %}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
        {% endif %}
        {% if "utters.utter_read" in perms and num_local_utters_required %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'gemeentes:antwoord_list_editable_required' gemeente_slug=current_gemeente.slug %}" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-danger">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-warning"></i>
                        </div>
                        <div class="text-value">{{ num_local_utters_required }}</div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Noodzakelijk aan te passen antwoorden" %}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {# Hyperlink/variables views #}

    <div class="row mb-4 variable-tiles">
        {% if "utters.hyperlink_read" in perms %}
        {# Dynamically defined hyperlinks #}
        {% if num_hyperlinks %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'gemeentes:hyperlink_list' gemeente_slug=object.slug %}?category=hyperlinks" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-hyperlinks">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-link"></i>
                        </div>
                        <div class="text-value">{{ num_hyperlinks }}</div>
                        <small class="text text-uppercase font-weight-bold">Hyperlinks</small>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        {% for category, count in variable_categories.items %}
            <div class="col-sm-6 col-md-2">
                <a href="{% url 'gemeentes:hyperlink_list' gemeente_slug=object.slug %}?category={{category}}" class="unvisited">
                    <div class="dashboard-tile card-short text-white bg-{% cycle 'hyperlinks-2' 'hyperlinks-3' %}">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="cui-link"></i>
                            </div>
                            <div class="text-value">{{ count }}</div>
                            <small class="text text-uppercase font-weight-bold">{{category}}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="row mb-4 story-tiles">
        {% comment %} Experimental stories views {% endcomment %}
        {% if "utters.utter_read" in perms %}
        {% for category, data in story_categories.items %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'gemeentes:stories_list' gemeente_slug=object.slug category=category|urlencode %}" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-{% cycle 'primary' 'success' 'tertiary' %}">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            {% if data.action_required and site_config.story_toggling_enabled and not site_config.story_settings_default %}
                                <i class="cui-warning"></i>
                            {% else %}
                                <i class="cui-chat-bubble"></i>
                            {% endif %}
                        </div>
                        <div class="text-value">{{ data.num_stories }}</div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Stories voor categorie" %} {{category}}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="row mb-4 utter-tiles">
        {# Content management views #}

        {% if "utters.utter_read" in perms %}
        {% for category, count in categories.items %}
            <div class="col-sm-6 col-md-2">
                <a href="{% url 'gemeentes:antwoord_list' gemeente_slug=object.slug %}?category={{category}}" class="unvisited">
                    <div class="dashboard-tile card-short text-white bg-{% cycle 'primary' 'success' 'tertiary' %}">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="cui-chat-bubble"></i>
                            </div>
                            <div class="text-value">{{ count }}</div>
                            <small class="text text-uppercase font-weight-bold">{% trans "Antwoorden voor categorie" %} {{category}}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% endif %}

        {# Overview of changed defaults #}

        {% if "utters.utter_read" in perms %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'gemeentes:antwoord_changed_overview' gemeente_slug=current_gemeente.slug %}" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-dark">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-info"></i>
                        </div>
                        <div class="text-value"></div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Overzicht van gewijzigde antwoorden" %}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        {# Overview of newly created utters #}

        {% if "utters.utter_read" in perms %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'gemeentes:antwoord_created_overview' gemeente_slug=current_gemeente.slug %}" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-dark">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-info"></i>
                        </div>
                        <div class="text-value"></div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Overzicht van nieuwe antwoorden" %}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row mb-4 config-tiles">
        {# Chatlog views #}

        {% if "utters.dialog_read" in perms %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'dialogs:dialog_list_logging_component' gemeente_slug=object.slug %}" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-dialogs-new">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-list"></i>
                        </div>
                        <div class="text-value">{{ num_dialogs }}</div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Dialogen voor gemeente" %} {{object.name}}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        {% if "utters.dialog_read" in perms %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'dialogs:test_dialog_list_logging_component' gemeente_slug=object.slug %}" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-dialogs-new">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-list"></i>
                        </div>
                        <div class="text-value">{{ num_test_dialogs }}</div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Test dialogen voor gemeente" %} {{object.name}}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        {# Statistics views #}
        {% if "utters.statistics_read" in perms %}
            <div class="col-sm-6 col-md-2">
                <a href="{% url 'statistics:statistics_dashboard' gemeente_slug=current_gemeente.slug %}" class="unvisited">
                    <div class="dashboard-tile card-short text-white bg-stats">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="cui-list"></i>
                            </div>
                            <small class="text text-uppercase font-weight-bold">{% trans "Statistieken" %}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}

        {# Config views #}

        <div class="col-sm-6 col-md-2">
            <div id="openModal-widget-code" class="modalSnippet"></div>
            <a id="generate-widget-code" href="#" class="unvisited"
                data-widget-body-url="{% url 'config:widget_code_body' gemeente_slug=object.slug %}"
            >
                <div class="dashboard-tile card-short text-white bg-config">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-settings"></i>
                        </div>
                        <div class="text-value"></div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Widget code generator voor " %} {{object.name}}</small>
                    </div>
                </div>
            </a>
        </div>

        {% if "utters.page_metadata_read" in perms %}
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'config:page_metadata_list' gemeente_slug=object.slug %}" class="unvisited">
                <div class="dashboard-tile card-short text-white bg-config">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-settings"></i>
                        </div>
                        <div class="text-value"></div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Instellingen voor gemeente" %} {{object.name}}</small>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
    <div class="d-flex justify-content-center">
    {% if current_gemeente.website_image %}
        <img class="municipality-website" src="{{ settings.MEDIA_URL }}{{ current_gemeente.website_image }}">
    {% else %}
        <img class="navbar-brand-full" height="350" {% if current_gemeente.municipality_logo %}src="{{ settings.MEDIA_URL }}{{current_gemeente.municipality_logo}}"{% else %}src="{% static 'img/logo.svg' %}"{% endif %}>
    {% endif %}
    </div>
{% endif %}
{% endblock %}
