{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Hyperlink" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Hyperlinks" 'gemeentes:hyperlink_list' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Hyperlink" 'gemeentes:hyperlink_read' gemeente_slug=current_gemeente.slug hyperlink_pk=object.pk %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Hyperlink" %} {{object.name}}</b>
                    {% if "utters.hyperlink_write" in perms %}
                    <a href="{% url 'gemeentes:hyperlink_delete' gemeente_slug=current_gemeente.slug hyperlink_pk=object.pk %}"
                        class="btn btn-danger float-right ml-2 delete-button">
                        <i class="cui-trash"></i> {% trans "Delete" %}
                    </a>
                    <a href="{% url 'gemeentes:hyperlink_update' gemeente_slug=current_gemeente.slug hyperlink_pk=object.pk %}"
                        class="btn btn-primary float-right ml-2">
                        <i class="cui-pencil"></i> {% trans "Update" %}
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th scope="row">{% trans "Naam" %}</th>
                            <td>{{object.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Label" %}</th>
                            <td>{{object.label}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "URL" %}</th>
                            <td>{{object.url}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
