{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Noodzakelijke hyperlinks" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Noodzakelijke leges" 'gemeentes:hyperlink_list_editable' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Noodzakelijke leges voor gemeente" %} {{current_gemeente}}</b>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        {% if missing_hyperlinks %}
                            {% include 'utters/table/header_hyperlink.html' only %}
                        {% else %}
                            {% trans "Alle noodzakelijk aan te passen leges zijn ingevuld" %}
                        {% endif %}
                        {% for hyperlink_data in missing_hyperlinks %}
                            {% include 'utters/table/row_hyperlink_editable.html' with verbose_name=hyperlink_data.0 name=hyperlink_data.1 attrs=hyperlink_data.2 gemeente=current_gemeente %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
