{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Hyperlink bijwerken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb category|capfirst 'gemeentes:hyperlink_list' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb category|capfirst|add:" bijwerken" 'gemeentes:hyperlink_update' gemeente_slug=current_gemeente.slug hyperlink_pk=object.pk %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Basisinformatie" %} {{metadata.verbose_name}}</b>
                </div>
                <div class="card-body">
                    {% include 'utters/includes/hyperlink_metadata.html' with metadata=metadata %}
                    <form class="" method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" id="submit" type="submit">{% trans "Opslaan" %}</input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
