{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Hyperlinks" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb category|default_if_none:"Hyperlinks"|capfirst 'gemeentes:hyperlink_list' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{{category|capfirst}} {% trans "voor gemeente" %} {{current_gemeente}}</b>
                    {% comment %} <a href="{% url 'gemeentes:hyperlink_create' gemeente_slug=current_gemeente.slug %}"
                        class="btn btn-success float-right ml-2" onclick="event.stopPropagation();">
                        <i class="cui-library-add"></i> {% trans "Hyperlink aanmaken" %}
                    </a> {% endcomment %}
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'components/search/search_bar.html' %}
                    </div>
                    <table class="table table-hover">
                        {% if object_list %}
                            {% include 'utters/table/header_hyperlink.html' only with sort=sort order=order %}
                        {% else %}
                            {% trans "Er zijn nog geen hyperlinks ingevuld voor gemeente" %} {{ current_gemeente }}
                        {% endif %}
                        {% for hyperlink_data in object_list %}
                            {% if hyperlink_data.1.name %}
                                {% include 'utters/table/row_hyperlink.html' with verbose_name=hyperlink_data.0 hyperlink=hyperlink_data.1 gemeente=current_gemeente %}
                            {% else %}
                                {% include 'utters/table/row_hyperlink_editable.html' with verbose_name=hyperlink_data.0 name=hyperlink_data.1 attrs=hyperlink_data.2 gemeente=current_gemeente %}
                            {% endif %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
