{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Aangepaste antwoorden" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Lokale wijzigingen" 'gemeentes:antwoord_changed_overview' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Lokaal gewijzigde antwoorden voor gemeente" %} {{current_gemeente}} {% if request.GET.category %}{% trans "in categorie" %} {{ request.GET.category }}{% endif %}</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'components/search/search_bar.html' %}
                    </div>
                    <table class="table table-hover">
                        {% include 'utters/table/header_antwoord_changed_overview.html' only with sort=sort order=order %}
                        {% for data in utters %}
                            {% include 'utters/table/row_antwoord_changed_overview.html' with data=data gemeente=current_gemeente %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
