{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Nieuwe antwoorden" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Nieuwe antwoorden" 'gemeentes:antwoord_created_overview' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Nieuwe lokaal aanpasbare antwoorden" %}</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'components/search/search_bar.html' %}
                    </div>
                    <table class="table table-hover">
                        {% include 'utters/table/header_antwoord_created_overview.html' only with sort=sort order=order %}
                        {% for data in utters %}
                            {% include 'utters/table/row_antwoord_created_overview.html' with utter_name=data.utter_name metadata=data.metadata.metadata gemeente=current_gemeente default_response=data.local_default_prod created=data.default_created_on %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
