.array-field-widget {
    ul {
        padding-left: 0;
        list-style: none;
    }

    .inline-deletelink {
        font-size: 1.5em;
    }

    .array-item {
        margin-bottom: 0.5em;
    }
}