.bg-tertiary {
  background-color: #ac63de !important;
  border-color: #7d46a1 !important;
}

.bg-hyperlinks {
  background-color: #b9972f !important;
  border-color: #806209 !important;
}

.bg-hyperlinks-2 {
  background-color: #6bbd4d !important;
  border-color: #457e31 !important;
}

.bg-hyperlinks-3 {
  background-color: #604dbd !important;
  border-color: #453888 !important;
}

.bg-config {
  background-color: #5167aa !important;
  border-color: #293455 !important;
}

.bg-dialogs {
  background-color: #477b8e !important;
  border-color: #2a4853 !important;
}

.bg-dialogs-new {
  background-color: #6b6bce !important;
  border-color: #2a4853 !important;
}

.bg-stats {
  background-color: #18825a !important;
  border-color: #0f5339 !important;
}

.dashboard-tile {
  margin-bottom: 1.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
}

.municipality-website {
  height: calc(100vh - 55px);
}