.selected {
  background-color: #E8E7E7;
}

.event-select, #event-select-all {
  margin-right: 4px;
}

// Modal for tracker store
// Source: https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: initial !important;
}

.modalDialog .modal-form {
  margin: 5px;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
  width: max-content;
  max-width: 800px;
  height: 400px;
	position: relative;
	margin: 10% auto;
	padding: 15px 0px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);


  .alert {
      margin-right: 10px;
    }

}

.modalDialog > div > div {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 100%;
}

.close {
	background: #606061;
	color: #FFFFFF !important;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
  width: 24px;
  opacity: 1 !important;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #5c5c5c; }

::-webkit-scrollbar {
  // Width of vertical scroll bar
  width: 8px;
  // Height of horizontal scroll bar
  height: 10px;

}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

.modal-link {
  color: #0d1f37 !important;
}

/* Break long voice sender IDs */
.sender-id {
  overflow-wrap: anywhere;
  font-size: 0.8em;
}

@media all and (max-width: 1024px) {
  /* Hide sender ID column on mobile devices */
  .sender-id, .sender-id-header {
    display: none;
  }

  /* Hide chat started on page column on mobile devices */
  .chat-started-on-page, .chat-started-on-page-header {
    display: none;
  }
}


/* Column that shows messages send by the user and chatbot */
.message-column{
  overflow-wrap: anywhere;
}


/* Column that shows the URL of the page on which the chat was started */
.chat-started-on-page {
  overflow-wrap: anywhere;
}

/* Color indicators for confidence levels */
.confidence {
  border-radius: 4px;
  padding: 4px;

  &__low {
    background-color: rgba(230, 0, 0, 0.45);
  }

  &__middle {
    background-color: rgba(255, 128, 0, 0.5);
  }

  &__high {
    background-color: rgba(0, 128, 0, 0.5);
  }
}

.evaluation-form {
  min-width: 40%;
}

.main-list {
  height: 75vh;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

#dialog-list .external-service {
  background-color: rgba(186, 210, 255, 0.548);
}

.translated-conversation {
  background-color: #d8edff !important
}
