.graph-container {
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.graph-navigation-left {
    position: absolute;
    top: 40%;
    left: -3%;
    font-size: 4em;
}

.graph-navigation-right {
    position: absolute;
    top: 40%;
    right: -3%;
    font-size: 4em;
}

.graph-navigation-link {
    color: inherit;
    text-decoration: none;
    transition: none;
    animation: none;
}

.graph-navigation-link:hover {
    color: inherit;
    text-decoration: none;
}
