@import "../_settings";

.main-staging {
  background: linear-gradient(
    -45deg,
    #e4e5e6 80%,
    #e4e5e6 82.5%,
    $color-staging 82.5%,
    $color-staging 85%,
    #e4e5e6 85%,
    #e4e5e6 87.5%,
    $color-staging 87.5%,
    $color-staging 90%,
    #e4e5e6 90%,
    #e4e5e6 92.5%,
    $color-staging 92.5%,
    $color-staging 95%,
    #e4e5e6 95%,
    #e4e5e6 100%
  );
  background-size: 100% 1000px;
  background-repeat: no-repeat;
}
