.messages {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;

  .message {
    width: max-content;
    padding: 5px 8px 5px 8px;
    box-shadow: 1px 1px 3px #003c00;

    &__success {
      color: white;
      background-color: #169f16;
    }
  }
}
