@import "../_settings";

.utter-row, .metadata-row, .story-row {
  word-wrap: break-word;
  word-break: break-word; /* Chome */
}

.utter-row-staging {
  background-color: $color-staging;
}

.utter-metadata__list {
  list-style-position: inside;
  padding-left: 0;
}

/*
  As a replacement for Bootstrap grid, which does not work inside tables
  in Google Chrome
*/
.w-1 {
  width: 1.333%;
}
.w-2 {
  width: 2%;
}
.w-8 {
  width: 8.333%;
}
.w-10 {
  width: 10%;
}
.w-16 {
  width: 16.667%;
}

/*
 * Warning icon to indicate that default central response has changed after
 * the local response was changed
 */

.utter-changed-warning {
  font-size: 2em;
}
