// Modal for widget snippet
// Source: https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
.modalSnippet {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: initial !important;
}

.modalSnippet .modal-form {
  margin: 5px;
}

.modalSnippet:target {
	opacity: 1;
	pointer-events: auto;
}

.modalSnippet > div {
  width: max-content;
	position: relative;
	margin: 10% auto;
	padding: 15px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modalSnippet > div > div {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 100%;
}

.widget-snippet {
  border: 1px solid grey;
  padding: 10px;
  max-height: 250px;
}
