{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs markdownify %}

{% block title %}Antwoorden CMS | {% trans "Pagina instellingen aanmaken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Pagina instellingen" 'config:page_metadata_list' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Pagina instellingen aanmaken" 'config:page_metadata_create' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Pagina instellingen aanmaken" %}</b>
                </div>
                <div class="card-body">
                    <form class="" method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" id="submit" type="submit">{% trans "Opslaan" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
