{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Antwoord" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Pagina instellingen" 'config:page_metadata_list' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb object.title 'config:page_metadata_read' gemeente_slug=current_gemeente.slug page_metadata_pk=object.pk %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Pagina" %} {{object.title}}</b>
                    {% if "utters.page_metadata_write" in perms %}
                    <a href="{% url 'config:page_metadata_delete' gemeente_slug=current_gemeente.slug page_metadata_pk=object.pk %}"
                        class="btn btn-danger float-right ml-2 delete-button">
                        <i class="cui-trash"></i> {% trans "Verwijderen" %}
                    </a>
                    <a href="{% url 'config:page_metadata_update' gemeente_slug=current_gemeente.slug page_metadata_pk=object.pk %}"
                        class="btn btn-primary float-right ml-2">
                        <i class="cui-pencil"></i> {% trans "Bijwerken" %}
                    </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th scope="row">{% trans "Paginatitel" %}</th>
                            <td>{{object.title}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Pagina URL" %}</th>
                            <td><a href="https://{{object.full_url}}">https://{{object.full_url}}</a></td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Gem ingeschakeld?" %}</th>
                            <td>
                                {% include "includes/boolean_icon.html" with value=object.gem_enabled_with_default %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Livechatconfiguratie" %}</th>
                            <td>
                                {{object.get_livechat_config.name|default:"---"}}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Directe doorschakeling naar medewerker" %}</th>
                            <td>
                                {% include "includes/boolean_icon.html" with value=object.direct_handover %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
