{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block title %}Antwoorden CMS | {% trans "Pagina instellingen" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Pagina instellingen" 'config:page_metadata_list' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Gem instellingen voor gemeente" %} {{current_gemeente}}</b>
                </div>
                <div class="card-body">
                    <form class="" enctype="multipart/form-data" method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" value=_save_global" id="_save_global" type="submit">{% trans "Opslaan" %}</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Gemeente Domain" %}</b>
                </div>
                <div class="card-body">
                    <form id="gemeente_domain_formset" class="" enctype="multipart/form-data" method="post">{% csrf_token %}
                        {{ formset.management_form }}
                        {% for domain_form  in formset %}
                            <div class="card-title">
                                <b>{{ domain_form.instance.domain }}</b>
                            </div>
                        {{ domain_form|crispy }}
                        {% endfor %}
                        <button class="btn btn-primary" name="_save_domains" id="_save_domains" type="submit">{% trans "Opslaan" %}</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Pagina instellingen voor gemeente" %} {{current_gemeente}}</b>
                </div>
                <div class="card-body">
                    {% if selected_domain %}
                        <div class="row">
                            {% include 'components/search/search_bar.html' %}
                        </div>
                        <div class="row mb-4">
                            <div class="col-sm">
                                {% trans "Website domein:" %}
                                <select class="browser-default custom-select w-auto ml-1" id="domain-switch">
                                    {% for gemeente_domain in current_gemeente.gemeentedomain_set.all %}
                                        <option {% if selected_domain == gemeente_domain.domain %}selected{% endif %} value="{{gemeente_domain.domain}}">{{gemeente_domain.domain}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <table class="table table-hover">
                            {% include 'config/table/header_page_metadata.html' with sort=sort order=order only %}
                            {% for page_metadata in object_list %}
                                {% include 'config/table/row_page_metadata.html' with page_metadata=page_metadata gemeente=current_gemeente %}
                            {% endfor %}
                        </table>
                        {% include 'components/pagination/pagination.html' with sort=sort order=order search_query=search_query domain=selected_domain %}
                    {% else %}
                        {% trans "Er zijn nog geen domeinen ingesteld" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
