<div id="webchat"></div>

<script defer
    id="chatwidget-script"
    crossorigin="anonymous"
    src="{{request.session.chatbot_url}}/static/js/widget.js"{% if client_name %}
    data-client-name="{{client_name}}"{% endif %}{% if request.session.environment == "staging" %}
    data-widget-subtitle="Testomgeving"{% endif %}
></script>