/* Colors */
$color_primary: #79aec8;
$color_primary_dark: #417690;
$color_primary_light: #c4dce8;

$color_secondary: #f5dd5d;
$color_secondary_dark: #f5dd5d;
$color_secondary_light: #ffc;

$color_link: #447e9b;
$color_link_hover: #036;

$color_darkest: #000;
$color_dark: #333;
$color_lightest: #fff;

/* Overrides */
a:link, a:visited {
  color: $color_link;
}
a:focus, a:hover {
  color: $color_link_hover;
}

#header {
	color: $color_secondary_light;
  background: $color_primary_dark;
  /* border-bottom: 8px solid $color_secondary; */
  position: sticky;
  top: 0;
  z-index: 100000;

	a:link, a:visited {
	  color: $color_lightest;
	}
}

#user-tools a {
  border-bottom: none;
	text-decoration: underline;

	&:focus, &:hover {
    color: $color_primary;
  }
}

.module h2, .module caption, .inline-group h2 {
  background: $color_primary;
}

#branding {
  h1 {
    color: $color_secondary;

    a:link, a:visited {
      color: $color_secondary;
    }
  }
}

div.breadcrumbs {
  background: $color_primary;
  color: $color_primary_light;
  position: sticky;
  top: 60px;

  a {
    color: $color_lightest;

    &:focus, &:hover {
      color: $color_lightest;
    }
  }
}

/* Important is used because Django templates include their own style, after ours */
#changelist-filter {
  a:focus, a:hover {
    color: $color_link !important;
  }
  li.selected a {
    color: $color_link !important;
    &:focus, &:hover {
      color: $color_primary !important;
    }
  }
}

.object-tools {
  a:focus, a:hover {
    background-color: $color_dark;
  }
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: $color_primary;
  color: $color_lightest;
  /* border: 2px solid $color_dark; */
}
.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
  background: $color_primary_dark;
}
.button.default, input[type=submit].default, .submit-row input.default {
  background: $color_primary_dark;
}
.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
  background: $color_darkest;
}

.delete-confirmation {
  form {
    input[type=submit] {
    }
    .cancel-link {
	  background: $color_primary_light;
	  color: $color_lightest;
      &:active, &:focus, &:hover {
        background: $color_dark;
      }
    }
  }
}

.selector-chosen h2 {
  background: $color_primary !important;
}

/* Calendar widget */
.calendar {
  caption {
    background: $color_secondary_dark !important;
    color: $color_dark !important;
  }

  td {
    a {
      &:active {
        background: $color_primary !important;
      }
      &:focus, &:hover {
        background: $color_primary_dark !important;
      }
    }

    &.selected a {
      background: $color_primary !important;
    }
  }
}
.calendarbox h2 {
  background: $color_secondary_dark !important;
  color: $color_dark !important;
}

/* Time widget */
.timelist {
  a:active {
   background: $color_primary !important;
  }
  a:focus, a:hover {
    background: $color_primary_dark !important;
  }
}
.module.clockbox h2 {
  /* Match the clock widget with the calendar widget */
  background: $color_secondary_dark !important;
  color: $color_dark !important;
  font-weight: bold !important;
}

/* Custom styles for UtterResponse admin changelist */
#changelist-form .field-utter {
  max-width: 80px !important;
  word-wrap: break-word;
}

#changelist-form .field-get_central_default,
#changelist-form .field-get_local_default,
#changelist-form .field-get_response {
  min-width: 21em !important;
  max-width: 21em !important;
}

#changelist-form .field-get_questions {
  width: 200px !important;
}
