{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Wachtwoord wijzigen" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        {% comment %} <div class="col-md-12"> {% endcomment %}
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    {% trans "Wachtwoord wijzigen" %}
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn" type="submit" value="{% trans 'Wijzig password' %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
