{% extends "registration/registration_base.html" %}{% load sniplates %}
{% load i18n %}

{% block title %}{% trans "Reset wachtwoord" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    {% trans "Password reset" %}
                </div>
                <div class="card-body">
                    <p>
                        {% blocktrans %} Bent u uw wachtwoord vergeten? Hier kunt u uw emailadres invoeren om uw wachtwoord te resetten {% endblocktrans %}
                    </p>

                <form method="post" class="form" action="">
                    {% csrf_token %}
                    {% load_widgets form='forms.html' %}

                    {% for field in form %}
                        {% form_field field %}
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="{% trans 'Reset wachtwoord' %}">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{# This is used by django.contrib.auth #}
