{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<p>
    {% trans "Uw wachtwoord is gereset!" %}
    {% trans "U kunt nu" %} <a href="{{ login_url }}">{% trans "inloggen" %}</a>

</p>
{% endblock %}


{# This is used by django.contrib.auth #}
