{% load i18n static %}
{% spaceless %}
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto"
            type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">
        <img class="navbar-brand-full" height="50" {% if current_gemeente.municipality_logo %}src="{{ settings.MEDIA_URL }}{{current_gemeente.municipality_logo}}"{% else %}src="{% static 'img/logo.svg' %}"{% endif %} alt="Antwoorden CMS">
        <img class="navbar-brand-minimized" height="30" {% if current_gemeente.municipality_logo %}src="{{ settings.MEDIA_URL }}{{current_gemeente.municipality_logo}}"{% else %}src="{% static 'img/logo.svg' %}"{% endif %}>
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none"
        type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endspaceless %}
