{% extends "master.html" %}
{% load i18n crispy_forms_tags static gitlab_tags %}

{% block title %}Antwoorden CMS | {% trans "GitLab toegang beheren" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li class="message message__{{message.tags}}">{{message}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    {% trans "GitLab toegang beheren" %}
                </div>
                <div class="card-body">
                    <p>
                        Om gemakkelijk issues in GitLab aan te maken, kan op deze pagina een persoonlijk GitLab access token
                        toegevoegd worden.
                    </p>
                    <p>
                        In de <a href="https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#creating-a-personal-access-token" target="_blank">GitLab documentatie</a>
                        staan instructies voor het aanmaken van het token. Onder het kopje <b>Scopes</b> hoeft alleen de optie <b>api</b> aangevinkt te worden.
                        Kopieer het aangemaakte token in het tekstvak hieronder, en druk vervolgens op <b>Opslaan</b>. Zie ook de afbeelding hieronder.
                    </p>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn" type="submit" value="{% trans 'Opslaan' %}" />
                    </form>
                    <p class="token-status">
                    {% if user|check_gitlab_token   %}
                        <div class="alert alert-success" role="alert">
                          Je Gitlab Access Token is geldig.
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                          Je Gitlab Access Token is niet (meer) geldig.
                        </div>
                    {% endif %}
                    </p>
                    <img class="manual__gitlab" src="{% static 'img/Handleiding-Gitlab-token-voor-Antwoorden-CMS.jpeg' %}" />
                </div>
            </div>
        </div>
</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
