# Feel free to use this for setting environment variables upon deploy
DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"
DB_NAME="{{ dbname }}"
DB_USER="{{ dbuser }}"
DB_PASSWORD="{{ dbpassword }}"
DB_HOST="{{ dbhost }}"
DB_PORT="{{ dbport }}"

REDIS_URL="{{ redis_url }}"
ELASTICSEARCH_HOST="localhost:9200"
SECRET_KEY="{{ django_secret_key }}"

SENTRY_DSN="{{ sentry_dsn }}"

LOCAL_UTTER_IMPORT_OVERRIDE="{{ local_utter_import_override }}"

ELASTIC_APM_SECRET_TOKEN={{ elastic_apm_secret_token }}
ELASTIC_APM_SERVER_URL={{ elastic_apm_server_url }}

LOGGING_COMPONENT_URL={{ logging_component_url }}
STATISTICS_API_URL={{ statistics_api_url }}
STATISTICS_COMPONENT_URL={{ statistics_component_url }}

{% if target == "staging" %}
LOG_REQUESTS={{ log_requests }}
LOG_OUTGOING_REQUESTS_DB_SAVE={{ log_outgoing_requests_db_save }}
{% endif %}
