{% load i18n %}

<div class="col-auto pr-1 mb-4">
    <button id="search-submit" class="btn btn-primary">{% trans "Zoeken" %}</button>
</div>
<div class="col pl-2 pr-2">
    <input id="search-field" type="text" class="textinput textInput form-control" value="{{search_query}}" placeholder="Vul hier een zoekterm in..."></input>
</div>
<div class="col-auto pl-1">
    <button id="search-clear" class="btn btn-danger">{% trans "Verwijder zoekopdracht" %}</button>
</div>
