{% load static %}
{% load i18n %}

{% spaceless %}
<div class="related-widget-wrapper">
    <div class="array-field-widget" data-max-elements="5">
        <ul>
            {% for subwidget in widget.subwidgets %}
                <li class="array-item d-flex" {% if widget.is_none %}data-isNone="true" style="display: none"{% endif %}>
                    {% with widget=subwidget %}
                        {% include widget.template_name %}
                    {% endwith %}
                    <div class="remove">
                        <div class="inline-deletelink"><i class="cui-trash"></i></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div><input type="button" class="btn add-array-item" value="{% trans "Meer onderwerpen" %}"></div>
    </div>
</div>
{% endspaceless %}
