{% extends "master.html" %}
{% load i18n %}
{% load static convert_timestamp %}
{% load view_breadcrumbs get_text lookup %}

{% block title %}Antwoorden CMS | {% trans "Dialogen" %}{% endblock %}

{% block breadcrumb %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% if only_test_sessions %}
                        <b>{% trans "Test dialogen via Antwoorden CMS voor gemeente" %} {{current_gemeente}}</b>
                    {% else %}
                        <b>{% trans "Dialogen voor gemeente" %} {{current_gemeente}}</b>
                    {% endif %}

                    <div class="float-right">
                        {% if request.user.can_export_dialogs %}
                            Exporteer van <input id="export-from" type="date"/>
                            tot
                            <input id="export-to" type="date"/>
                            {% if only_test_sessions %}
                            <a class="btn btn-primary" id="export-dialogs" data-url="{% url "dialogs:test_dialog_export" gemeente_slug=current_gemeente.slug %}">Exporteer dialogen</a>
                            {% else %}
                            <a class="btn btn-primary" id="export-dialogs" data-url="{% url "dialogs:dialog_export" gemeente_slug=current_gemeente.slug %}">Exporteer dialogen</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <h3>{% trans "Aantal dialogen" %}: {{dialog_list_count}}</h3>
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope='col' class="sender-id-header">{% trans "Sender ID" %}</th>
                                <th scope='col'>
                                    <a href="#" class="sorting-link {% if sort == 'date' %}{{order}}{% endif %}" data-param-name="date">
                                    {% if sort == 'date' %}
                                        {% if order == 'asc' %}
                                            <i class="cui-sort-alpha-down"></i>
                                        {% elif order == 'desc' %}
                                            <i class="cui-sort-alpha-up"></i>
                                        {% endif %}
                                    {% endif %}
                                    {% trans "Datum" %}
                                    </a>
                                </th>
                                <th scope='col'>{% trans "Eerste bericht gebruiker" %}</th>
                                <th scope='col'>
                                    <a href="#" class="toggle-link {{ hide_direct }}" data-param-name="hide_direct">
                                    {% if hide_direct == "true" %}
                                        {% trans "Toon direct livechat" %}
                                        <i class="cui-plus"></i>
                                    {% else %}
                                        {% trans "Verberg direct livechat" %}
                                        <i class="cui-minus"></i>
                                    {% endif %}
                                    </a>
                                </th>
                                <th scope='col'>{% trans "Geëvalueerd?" %}</th>
                                <th scope='col' class="chat-started-on-page-header">{% trans "Gestart op pagina" %}</th>
                            </tr>
                        </thead>
                        {% for event in dialog_list %}
                            <tr {% if event.translated_from %}class="translated-conversation"{% endif %}>
                                <td class="w-1 sender-id">{{event.session_id}}</td>
                                <td class="w-8">
                                    {% if only_test_sessions %}
                                        <a href="{% url "dialogs:test_dialog_detail_logging_component" gemeente_slug=current_gemeente.slug session_id=event.session_id %}?previous_page={{ page_obj.number }}">
                                    {% else %}
                                        <a href="{% url "dialogs:dialog_detail_logging_component" gemeente_slug=current_gemeente.slug session_id=event.session_id %}?previous_page={{ page_obj.number }}">
                                    {% endif %}
                                        {{ event.timestamp }}
                                    </a>
                                </td>
                                <td class="w-16 message-column" colspan="2">{% if event.translated_from %}<b>Vertaald gesprek ({{event.translated_from}}):</b> {% endif %}{{event.outgoing_data.message}}</td>
                                <td class="w-1">{% include "includes/boolean_icon.html" with value=evaluation_mapping|lookup:event.session_id %}</td>
                                <td class="w-10 chat-started-on-page">
                                {% with event.incoming_data.customData.chatStartedOnPage as page_url %}
                                    <a target="_blank" href="{{page_url}}">{{page_url}}</a>
                                {% endwith %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
