{% extends "master.html" %}
{% load i18n %}
{% load static convert_timestamp markdownify confidence_class get_text pretty_json crispy_forms_tags %}
{% load view_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Dialoog" %} {{ view.kwargs.sender_id }}{% endblock %}

{% block breadcrumb %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% if only_test_sessions %}
                        <b>{% trans "Test dialoog via Antwoorden CMS " %} {{view.kwargs.session_id}}</b>
                    {% else %}
                        <b>{% trans "Dialoog " %} {{view.kwargs.session_id}}</b>
                    {% endif %}
                    {% if request.user.gitlab_access_token %}<a id="create_issue" class="btn btn-primary float-right ml-2 text-white">Maak issue van selectie</a>{% endif %}
                </div>
                <div class="card-body d-flex">
                    {% if event_list %}
                    <div class="main-list">
                        <div id="openModal-export" class="modalDialog"></div>
                        {% if chat_started_on_page %}
                            <h5 class="mb-4"><b>{% trans "Gesprek gestart op pagina:" %}</b> <a target="_blank" href="{{chat_started_on_page}}" id="chat-started-on-page-link">{{chat_started_on_page}}</a></h5>
                        {% endif %}


                        <table class="table table-hover" id="dialog-list">
                            <thead class="thead-light">
                                <tr>
                                    <th scope='col'><input type="checkbox" id="event-select-all">{% trans "Datum" %}</th>
                                    <th scope='col'>{% trans "Naam agent" %}</th>
                                    <th scope='col'>{% trans "Bericht Agent" %}</th>
                                    <th scope='col'>{% trans "Bericht Gebruiker" %}</th>
                                    {% comment %} <th scope='col'>{% trans "Intentnaam (Zekerheid) / Utternaam" %}</th> {% endcomment %}
                                </tr>
                            </thead>
                            {% for event in event_list %}
                                <tr {% if event.event_type == "agent_message" and event.sender_agent_id != "gem" or event.event_type == "user_message" and event.recipient_agent_id != "gem" %}class="external-service"{% endif %}>
                                    <td class="w-8"><input type="checkbox" class="event-select"></input>{{event.timestamp|date:"l"}} {{event.timestamp}}</td>
                                    <td class="w-2">{{event.sender_agent_id}}</td>
                                    <td class="w-16 message-column">
                                        {% if event.event_type == "agent_message" %}
                                            {% if event.outgoing_data.metadata.original_message %}
                                                {% include "dialogs/translated_message.html" with original_message=event.message translated_by=event.translated_by translated_from=event.translated_from translated_to=event.translated_to only %}
                                            {% endif %}

                                            {% if event.outgoing_data.metadata.original_message %}
                                                {{event.outgoing_data.metadata.original_message|markdownify}}
                                            {% else %}
                                                {{event.message|markdownify}}
                                            {% endif %}

                                            {% for button in event.outgoing_data.quick_replies %}
                                                {% if event.outgoing_data.metadata.original_message %}
                                                    <i class="cui-translate" data-toggle="tooltip" title="{{ button.title }}"></i>
                                                    <div class="widget-button">{{button.metadata.original_message}}</div>
                                                {% else %}
                                                    <div class="widget-button">{{button.title}}</div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="w-16 message-column">
                                        {% if event.event_type == "user_message" %}
                                            {% if event.outgoing_data.metadata.original_message %}
                                                {% include "dialogs/translated_message.html" with original_message=event.message translated_by=event.translated_by translated_from=event.translated_from translated_to=event.translated_to only %}
                                            {% endif %}

                                            {% if event.outgoing_data.interactive %}
                                            <div class="widget-button">{{event.outgoing_data.interactive.title}}</div>
                                            {% else %}
                                            <p>{{event.outgoing_data.message}}</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    {% comment %} <td class="w-8">
                                        {% if event.type_name == "user" %}
                                            <span class="confidence {{event.confidence|confidence_class}}">{{ event.intent_name }} ({% widthratio event.confidence 1 100 %}%)</span>
                                        {% else %}
                                            {{ event.utter_name }}
                                        {% endif %}
                                    </td> {% endcomment %}
                                </tr>
                            {% endfor %}
                        </table>
                        {% include 'components/pagination/pagination.html' %}
                        <div class="raw-event-data" style="display:none;"><pre>{% for event in all_events %}{{event|pretty_json}}<br/>{% endfor %}</pre></div>
                    </div>
                    <div class="evaluation-form card-body">
                        <h4>Gespreksanalyse</h4> <p><a target="_blank" href="https://commonground.nl/groups/view/978adf62-97f2-4955-87cc-7fee0cd238e0/team-virtuele-assistent-gem/wiki/view/6b583b04-9364-40af-b462-071580188871/handleiding-gespreksanalyse-turven">Bekijk uitleg over gespreksanalyse</a></p>
                        <form class="" method="post">{% csrf_token %}
                            {% crispy form %}
                        </form>
                    </div>
                {% else %}
                   <h2> Dit gesprek is niet (meer) beschikbaar</h2>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
