{% load i18n %}
<span data-toggle="tooltip" title="{{original_message}}">
    <i class="cui-translate"></i>
    <b>{% trans "Bericht vertaald met " %} {{ translated_by }}: {{ translated_from }} &#8594 {{ translated_to }}</b>
</span>