.story-col {
    &-user {
        width: 35%;
    }

    &-bot {
        width: 65%;
    }
}

.story-user-messages {
    margin-bottom: 0px;
    padding-left: 1em;
}

.story-utter {
    display: flex;

    &-buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}

.widget-button {
    color: #135afe;
    background-color: #fff;
    display: inline-block;
    transition: box-shadow .3s ease,top .3s ease;
    border: 1px solid #135afe;
    background-color: #135afe;
    border: 1px solid #135afe;
    border-radius: 15px;
    color: #f4f7f9;
    padding: 4px 8px;
    max-width: 215px;
    min-height: 1.7em;
    font-weight: 500;
    text-align: center;
    font-family: Inter,sans-serif;
    margin: .25em;
    text-decoration: unset;
    box-shadow: 0 .2px .7px -7px rgba(0,0,0,.277),0 .5px 1.8px -7px rgba(0,0,0,.369),0 1.2px 3.8px -7px rgba(0,0,0,.442),0 4px 13px -7px rgba(0,0,0,.64);
}

.story-divider {
    border: 2px solid #424242;
    border-radius: 2px;
}