{% extends "master.html" %}
{% load static i18n django_bootstrap_breadcrumbs markdownify %}

{% block title %}Antwoorden CMS | {{object.title}} {{current_gemeente.name}}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Statistieken" 'statistics:statistics_dashboard' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb object.title 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block body-class %}{% trans "Statistieken" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {{object.verbose_title}} ({% trans "Gemeente" %} {{current_gemeente.name}}) tussen <b>{{ begin_date|date }}</b> en <b>{{ end_date|date }}</b>

                    <div class="float-right">
                        {% if unit == "days" %}
                            Datum: <input id="graph-datepicker" max="" type="date" data-url="{% url 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}?unit=days" />
                        {% endif %}
                        <a class={% if unit == "years" %}"btn btn-primary"{% else %}"btn"{% endif %} href="{% url 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}?unit=years">
                            {% if duration > 1 %}Jaren{% else %}Jaar{% endif %}
                        </a>
                        <a class={% if unit == "months" %}"btn btn-primary"{% else %}"btn"{% endif %} href="{% url 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}?unit=months">
                            Maand{{duration|pluralize:"en"}}
                        </a>
                        <a class={% if unit == "weeks" %}"btn btn-primary"{% else %}"btn"{% endif %} href="{% url 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}?unit=weeks">
                            {% if duration > 1 %}Weken{% else %}Week{% endif %}
                        </a>
                        <a class={% if unit == "days" %}"btn btn-primary"{% else %}"btn"{% endif %} href="{% url 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}?unit=days">
                            Dag{{duration|pluralize:"en"}}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="graph-container">
                        <div class="graph-navigation-left">
                            <a class="graph-navigation-link" href="{% url 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}?offset={{offset|add:-1}}&unit={{unit}}" />&#x25C4;</a>
                        </div>

                        <canvas id="myChart"></canvas>

                        {% if offset < 0 %}
                        <div class="graph-navigation-right">
                            <a class="graph-navigation-link"  href="{% url 'statistics:dynamic_statistics' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}?offset={{offset|add:1}}&unit={{unit}}" />&#x25BA;</a>
                        </div>
                        {% endif %}
                    </div>

                    {{object.description|markdownify}}
                </div>
            </div>
        </div>
    </div>
</div>

{{statistics|json_script:"statistics"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.js" integrity="sha384-9R67RXFKxJXd/+QmlkaEyOhcfa0gbkwDQ4LUr1RvuTZp9u4VDylkCdExAVOi6zqz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@4.2.0/build/index.umd.min.js" integrity="sha384-5KhEyLSfbtWz1KzxlMgNbBcgVlEr2K87DYqL9z4YK5m9XhTe9N7EJYrOQFgnISzZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0" integrity="sha384-M00GJNq2IplZCB3+JOJEl2H0un45ODvqJSSnIc4DvG8gPn8RX5ToITFXcv3AvOx5" crossorigin="anonymous"></script>
<script src="{% url 'statistics:graph_scripts' gemeente_slug=current_gemeente.slug graph_slug=object.slug %}"></script>

{% endblock %}
