{% extends "master.html" %}
{% load static i18n django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Statistieken voor gemeente" %} {{current_gemeente.name}}{% endblock %}

{% block body-class %}{% trans "Statistieken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Statistieken" 'statistics:legacy_statistics_dashboard' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Meestvoorkomende intents" 'statistics:popular_intents_stats' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Intent statistieken detail" 'gemeentes:antwoorden_list' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Intent" %} {{intent_name}} ({% trans "Gemeente" %} {{current_gemeente.name}})
                </div>
                <div class="card-body">
                    <div style="position: relative">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{stats|json_script:"intentDetailStats"}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha384-0saKbDOWtYAw5aP4czPUm6ByY5JojfQ9Co6wDgkuM7Zn+anp+4Rj92oGK8cbV91S" crossorigin="anonymous"></script>

{% endblock %}
