{% extends "master.html" %}
{% load static i18n django_bootstrap_breadcrumbs %}

{% block title %}Antwoorden CMS | {% trans "Statistieken voor gemeente" %} {{current_gemeente.name}}{% endblock %}

{% block body-class %}{% trans "Statistieken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Statistieken" 'statistics:legacy_statistics_dashboard' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Product statistieken" 'gemeentes:antwoorden_list' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Wat inwoners vragen, en wat Gem daarvan begrijpt" %} ({% trans "Gemeente" %} {{current_gemeente.name}})
                </div>
                <div class="card-body">
                    {% for month_data in stats %}
                        {% if month_data.1 %}
                        <h2>{{month_data.0}}</h2>
                        <div>
                            <canvas id="myChart-{{forloop.counter}}"></canvas>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{{stats|json_script:"productStats"}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha384-0saKbDOWtYAw5aP4czPUm6ByY5JojfQ9Co6wDgkuM7Zn+anp+4Rj92oGK8cbV91S" crossorigin="anonymous"></script>

{% endblock %}
