{% extends "master.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block title %}Antwoorden CMS | {% trans "Gemeente" %} {{object.name}}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Statistieken" 'statistics:statistics_dashboard' gemeente_slug=current_gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div id="ui-view">
    <h3>{% trans "Statistieken voor gemeente" %} {{object.name}}</h3>

    <div class="mb-3">
    {% if not only_test_sessions and request.user.can_export_dialogs %}
        Exporteer van <input id="export-from" type="date"/>
        tot
        <input id="export-to" type="date"/>
        <a class="btn btn-primary" id="export-dialogs" data-url="{% url "statistics:statistics_export" gemeente_slug=current_gemeente.slug %}">Exporteer statistieken</a>
    {% endif %}
    </div>

    <div class="row mb-4 config-tiles">
        {% if "utters.statistics_read" in perms %}
        {% for graph in graph_definitions %}
            <div class="col-sm-6 col-md-2">
                <a href="{% url 'statistics:dynamic_statistics' gemeente_slug=object.slug graph_slug=graph.slug %}" class="unvisited">
                    <div class="dashboard-tile card-short text-white bg-stats">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="cui-list"></i>
                            </div>
                            <small class="text text-uppercase font-weight-bold">{{graph.title}}</small>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% else %}
    <div class="d-flex justify-content-center">
    {% if current_gemeente.website_image %}
        <img class="municipality-website" src="{{ settings.MEDIA_URL }}{{ current_gemeente.website_image }}">
    {% else %}
        <img class="navbar-brand-full" height="350" {% if current_gemeente.municipality_logo %}src="{{ settings.MEDIA_URL }}{{current_gemeente.municipality_logo}}"{% else %}src="{% static 'img/logo.svg' %}"{% endif %}>
    {% endif %}
    </div>
{% endif %}
{% endblock %}
