{% load i18n %}
<li class="nav-item dropdown">
    <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">
        {% if user.is_authenticated %}
            <i class="cui-user h2"></i>
        {% else %}
            <i class="cui-share h2"></i>
        {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
            {% if user.is_authenticated %}
            <strong>{{ request.user.username }}</strong>
            {% else %}
            <strong>Account</strong>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <a class="dropdown-item" href="{% url 'gitlab_token' %}">
            <i class="cui-cog"></i>{% trans "Beheer GitLab toegang" %}</a>
        <a class="dropdown-item" href="{% url 'two_factor:profile' %}">
            <i class="cui-cog"></i>{% trans "Tweetrapsauthenticatie" %}</a>
        <a class="dropdown-item" href="{% url 'auth_logout' %}">
            <i class="cui-account-logout "></i>{% trans "Log uit" %}</a>
        <a class="dropdown-item" href="{% url 'password_change' %}">
            <i class="cui-loop"></i>{% trans "Wachtwoord wijzigen" %}</a>
        {% else %}
        <a class="dropdown-item" href="{% url 'two_factor:login' %}">
            <i class="cui-arrow-right"></i>Login</a>
        <a class="dropdown-item" href="{% url 'registration_register' %}">
            <i class="cui-user-follow "></i>{% trans "Registreren" %}</a>
        <a class="dropdown-item" href="{% url 'auth_password_reset' %}">
            <i class="cui-loop "></i>{% trans "Wachtwoord vergeten" %}</a>
        {% endif %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <select class="custom-select" name="language">
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input class="dropdown-item" type="submit" value="{% trans "Verander taal" %}">
            </form>
    </div>
</li>
