{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block content_wrapper %}
    <div id="ui-view">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="card">
                    <div class="card-header">
                        {% trans "Tweetrapsauthenticatie" %}
                    </div>
                    <div class="card-body">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
