{% load i18n %}
{% spaceless %}
<thead class="thead-light">
    <tr>
        <th scope='col'></th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'title' %}{{order}}{% endif %}" data-param-name="title">
                {% if sort == 'title' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Paginatitel" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'path' %}{{order}}{% endif %}" data-param-name="path">
                {% if sort == 'path' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "URL" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'livechat_config__name' %}{{order}}{% endif %}" data-param-name="livechat_config__name">
                {% if sort == 'livechat_config__name' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Livechatkoppeling" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'gem_enabled' %}{{order}}{% endif %}" data-param-name="gem_enabled">
                {% if sort == 'gem_enabled' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Gem ingeschakeld?" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'direct_handover' %}{{order}}{% endif %}" data-param-name="direct_handover">
                {% if sort == 'direct_handover' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Directe overschakeling naar medewerker" %}
            </a>
        </th>
{#        <th scope='col'>#}
{#            <a href="#" class="sorting-link {% if sort == 'page_on_site' %}{{order}}{% endif %}" data-param-name="page_on_site">#}
{#                {% if sort == 'page_on_site' %}#}
{#                    {% if order == 'asc' %}#}
{#                        <i class="cui-sort-alpha-down"></i>#}
{#                    {% elif order == 'desc' %}#}
{#                        <i class="cui-sort-alpha-up"></i>#}
{#                    {% endif %}#}
{#                {% endif %}#}
{#                {% trans "Page found on site" %}#}
{#            </a>#}
{#        </th>#}
        <th scope='col'></th>
    </tr>
</thead>
{% endspaceless %}
