{% load i18n l10n markdownify format_response static %}
{% spaceless %}
<tr class="metadata-row" role="button">
    <td class="w-1">
        <a href="{% url 'config:page_metadata_read' gemeente_slug=page_metadata.gemeente_domain.gemeente.slug page_metadata_pk=page_metadata.pk %}">
            <i class="cui-find-in-page"></i>
        </a>
    </td>
    <td class="w-16">{{page_metadata.title}}</td>
    <td class="w-16">
        <a href="https://{{page_metadata.full_url}}" target="_blank" title="{{page_metadata.url}}">https://{{page_metadata.full_url}}</a>
    </td>
    <td class="w-2">
        {{page_metadata.get_livechat_config.name|default:"---"}}
    </td>
    <td class="w-2">
        {% include "includes/boolean_icon.html" with value=page_metadata.gem_enabled_with_default %}
    </td>
    <td class="w-2">
        {% include "includes/boolean_icon.html" with value=page_metadata.direct_handover_with_default %}
    </td>
{#    <td class="w-2">#}
{#        {% include "includes/boolean_icon.html" with value=page_metadata.page_on_site %}#}
{#    </td>#}
    <td class="w-8">
        {% if "utters.page_metadata_write" in perms %}
            <a href="{% url 'config:page_metadata_delete' gemeente_slug=page_metadata.gemeente_domain.gemeente.slug page_metadata_pk=page_metadata.pk %}"
                class="btn btn-danger float-right ml-2 delete-button">
                <i class="cui-trash"></i>
            </a>
            <a href="{% url 'config:page_metadata_update' gemeente_slug=page_metadata.gemeente_domain.gemeente.slug page_metadata_pk=page_metadata.pk %}">
{#                {% if page_metadata.page_on_site  %}class="btn btn-primary float-right ml-2"{% else %}class="btn btn-primary float-right ml-2 disabled" aria-disabled="true"{% endif %}>#}
                <i class="cui-pencil"></i> {% trans "Bewerken" %}
            </a>
        {% endif %}
    </td>
</tr>
{% endspaceless %}
