{% spaceless %}
<ol class="breadcrumb">
    {% for url, label in breadcrumbs %}
        {% ifnotequal forloop.counter breadcrumbs_total %}
            <li class="breadcrumb-item">
                <a href="{{ url }}">{{ label|safe }}</a>
            </li>
        {% else %}
            <li class="breadcrumb-item active">
                {{ label|safe }}
            </li>
        {% endifnotequal %}
    {% endfor %}
</ol>
{% endspaceless %}
