{% extends "sniplates/django.html" %}
{% load i18n sniplates %}
{% block _errors %}
    {% if errors or form.non_field_errors  or index == 0 %}
        <div class="invalid-feedback">
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}

            {{ form.non_field_errors }}
            </ul>
        </div>
    {% endif %}
{% endblock %}


{% block input %}
    {% with input_type=input_type|default:"text" %}
        <div class="input-group mb-3">
            {% if label %}
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">{{ label }}</span>
                </div>
            {% endif %}
            <input  id="{{ id }}"
                    name="{{ html_name }}"
                    type="{{ input_type }}"
                    value="{{ raw_value|default:"" }}"
                    aria-describedby="basic-addon3"
                    class="form-control {{ errors|yesno:"is-invalid, " }}{{ form.non_field_errors|yesno:"is-invalid, " }}"
                    {{ widget.attrs|flatattrs }}
                    {{ required|yesno:"required," }}
                    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}>
            {% reuse '_errors' index=index %}
        </div>
    {% endwith %}
{% endblock %}

{% block Textarea %}
    <div class="input-group mb-3">
        {% if label %}
            <div class="input-group-prepend">
                <span class="input-group-text">{{label}}</span>
            </div>
        {% endif %}
        <textarea name="{{ html_name }}" id="{{ id }}" class="form-control{{ css_classes }}{{ errors|yesno:" is-invalid," }}"
            {{ required|yesno:"required," }}
            {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}

        >{{ raw_value|default:'' }}</textarea>
        {% reuse '_help' %}
        {% reuse '_errors' %}
    </div>
{% endblock %}


{% block _label %}
    {% if label %}<label for="{{ id_for_label }}">{{ label }}</label>{% endif %}
{% endblock %}

{% block _help %}
    {% if help_text %}
    <div class="form__help">{{ help_text }}</div>
    {% endif %}
{% endblock _help %}


{% block Select %}
    <div class="form__control" role="group">
        {% reuse '_label' %}

        <select name="{{ html_name }}" id="{{ id }}"
                class="form-control{{ errors|yesno:" form__select--error," }}" {{ widget.attrs|flatattrs }}>
            {% for choice in choices %}
                {% if choice.is_group %}
                    <optgroup label="{{ choice.value }}">
                        {% for val, display in choice.display %}
                            {% reuse '_Select_Option' val=val value=value display=display %}
                        {% endfor %}
                    </optgroup>
                {% else %}
                    {% reuse '_Select_Option' val=choice.value value=value display=choice.display %}
                {% endif %}
            {% endfor %}
        </select>

        {% reuse '_errors' %}
    </div>
    </br>
{% endblock %}


{% block TextInput %}
    <div class="form__control" role="group">

        {% reuse 'input' css_classes='form__input' placeholder=placeholder|default:label %}
        {% reuse '_help' %}
        {% reuse '_errors' %}
    </div>
{% endblock TextInput %}


{% block PasswordInput %}
    {% reuse 'TextInput' input_type='password' %}
{% endblock PasswordInput %}

{% block EmailInput %}
    {% reuse 'TextInput' input_type='email' %}
{% endblock EmailInput %}


{% block URLInput %}{% reuse "TextInput" input_type="url" %}{% endblock %}


{% block submit-btn %}
    <button class="button button--primary" type="submit">{% trans 'Submit' %}</button>
{% endblock submit-btn %}


{% block CheckboxSelectMultiple %}
    <div class="form__control" role="group">
        {% reuse '_label' %}
        <ul class="list">

            {% for choice in choices %}
                {% if choice.is_group %}
                    {% for val, display in choice.display %}
                        <h4 class="form__subtitle">{{ choice.value }}</h4>
                        {% reuse '_CheckboxSelectItem' val=val value=value display=display %}
                    {% endfor %}
                    </ul>
                {% else %}
                    {% reuse '_CheckboxSelectItem' val=choice.value display=choice.display %}
                {% endif %}
            {% endfor %}
        </ul>

        {% reuse '_errors' %}
    </div>
{% endblock %}


{% block _CheckboxSelectItem %}
    <li class="list__item">
        {% with count=forloop.counter0|escape %}
            {% with id_for_label=id|add:'_'|add:count %}
                <input name="{{ html_name }}" type="checkbox" id="{{ id_for_label }}" value="{{ val }}"
                       {% if val in value %}checked{% endif %}>&nbsp;
                {% reuse '_label' id_for_label=id_for_label label=display %}
            {% endwith %}
        {% endwith %}
    </li>
{% endblock %}


{% block CheckboxInput %}
    <div class="form-check">
        <input class="form-check-input" name="{{ html_name }}"  id="{{ id_for_label }}" type="checkbox" value="{{id}}">
        <label class="form-check-label" for="{{ id_for_label }}">
            {{ label }}
        </label>
        {% reuse '_help' %}
        {% reuse '_errors' %}
    </div>
{% endblock %}
