{% load static hijack_tags %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Antwoorden CMS{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@2.1.0/dist/css/coreui.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@0.4.1/css/free.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@0.4.1/css/free.min.css">

        <!-- Styling for widget -->

        {% block extra_css %}{% endblock %}

        <link href="{% static 'ico/favicon.ico' %}" rel="shortcut icon">
    </head>

    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show {% if not request.user.is_authenticated %}brand-minimized sidebar-minimized {% endif %}">
        {% include 'components/header/header.html' with current_gemeente=current_gemeente %}
        <div class="app-body">
            <div class="sidebar skin-blue">
                {% include 'components/navigation/navigation-lateral.html' %}
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
            </div>
            <main class="main{% if request.session.environment == "staging" %} main-staging{% endif %}">

                <!-- Include here the breadcrumbs.html -->
                {% if request.user.is_authenticated %}
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                        </ol>
                    {% endblock %}
                {% endif %}
                <div class="container-fluid">
                    {% block content_wrapper %}
                    {% block content %}
                    {% endblock %}
                    {% endblock %}
                </div>
            </main>
        </div>

        <script src="{% static 'js/main.js' %}"></script>

        <!-- Chatbot widget includes -->

        {% if current_gemeente %}
        <!-- Styling for widget -->
            {% if current_gemeente %}
                {{ current_gemeente.name|json_script:"organisation-name" }}

                {% include 'config/widget_code_body.html' with client_name="antwoorden-cms" %}
            {% endif %}
        {% endif %}
        {% block script %}
        {% endblock %}

    </body>
</html>
