{% load i18n %}
{% load mathfilters %}

{% spaceless %}
    {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if sort and order %}&sort={{sort}}&order={{order}}{% endif %}{% if search_query %}&search={{search_query}}{% endif %}&domain={{selected_domain}}">{{ _('Previous') }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">{{ _('Previous') }}</a>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% with page_obj.number|sub:i|abs as diff %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% elif diff < 5 or i == 1 %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}{% if sort and order %}&sort={{sort}}&order={{order}}{% endif %}{% if search_query %}&search={{search_query}}{% endif %}&domain={{selected_domain}}">{{ i }}</a></li>
                            </li>
                            {% if i == 1 %}
                                <span class="page-link">
                                    ...
                                    <span class="sr-only">(current)</span>
                                </span>
                            {% endif %}
                        {% elif i == paginator.page_range|length %}
                            <span class="page-link">
                                ...
                                <span class="sr-only">(current)</span>
                            </span>
                            <li class="page-item"><a class="page-link" href="?page={{ i }}{% if sort and order %}&sort={{sort}}&order={{order}}{% endif %}{% if search_query %}&search={{search_query}}{% endif %}&domain={{selected_domain}}">{{ i }}</a></li>
                            </li>
                        {% endif %}
                    {% endwith %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if sort and order %}&sort={{sort}}&order={{order}}{% endif %}{% if search_query %}&search={{search_query}}{% endif %}&domain={{selected_domain}}">{{ _('Next') }}</a>
                    </li>
                {% else %}

                    <li class="page-item disabled">
                        <a class="page-link" href="#">{{ _('Next') }}</a>
                    </li>
                {% endif %}
            </ul>
    {% endif %}
{% endspaceless %}
