{% load i18n %}
{% spaceless %}
<nav class="sidebar-nav">
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gemeentes:home' %}">
                <i class="nav-icon cui-home"></i>{% trans "Home" %}</a>
            </li>

            {% if gemeentes %}<li class="nav-title">{% trans "Gemeente" %}</li>{% endif %}
            {% for gemeente in gemeentes %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gemeentes:gemeente_detail' gemeente.name|slugify %}">
                    <i class="nav-icon cui-library-building"></i>{{ gemeente.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    <li class="nav-title">{% trans "Over Antwoorden CMS" %}</li>
        <li class="nav-item ">
            <a class="nav-link" href="https://gitlab.com/virtuele-gemeente-assistent/gem">
                <i class="nav-icon cui-info"></i>{% trans "Documentation" %}</a>
        </li>
    </ul>
</nav>
{% endspaceless %}

