{% load i18n %}
{% spaceless %}
<thead class="thead-light">
    <tr>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'questions' %}{{order}}{% endif %}" data-param-name="questions">
                {% if sort == 'questions' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Klantvraag/vragen" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'response' %}{{order}}{% endif %}" data-param-name="response">
                {% if sort == 'response' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Lokaal antwoord Gem" %}
            </a>
        </th>
        {% comment %} <th scope='col'>{% trans "Noodzakelijk aan te passen?" %}</th> {% endcomment %}
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'default_response' %}{{order}}{% endif %}" data-param-name="default_response">
                {% if sort == 'default_response' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Standaard antwoord Gem" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'modified_on' %}{{order}}{% endif %}" data-param-name="modified_on">
                {% if sort == 'modified_on' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Laatst gewijzigd" %}
            </a>
        </th>
        <th scope='col'>
            {% trans "Lokale antwoord gewijzigd" %}
        </th>
        <th scope='col'></th>
    </tr>
</thead>
{% endspaceless %}
