{% load i18n %}
{% spaceless %}
<thead class="thead-light">
    <tr>
        <th scope='col'>{% trans "Naam" %}</th>
        <th scope='col'>{% trans "Noodzakelijke attributen" %}</th>
        <th scope='col'></th>
    </tr>
</thead>
{% endspaceless %}
