{% load i18n %}
{% spaceless %}
<thead class="thead-light">
    <tr>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'name' %}{{order}}{% endif %}" data-param-name="name">
                {% if sort == 'name' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Naam" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'label' %}{{order}}{% endif %}" data-param-name="label">
                {% if sort == 'label' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Zichtbare tekst (label)" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'url' %}{{order}}{% endif %}" data-param-name="url">
                {% if sort == 'url' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Internetadres (url)" %}
            </a>
        </th>
        <th scope='col'></th>
    </tr>
</thead>
{% endspaceless %}
