{% load i18n %}
{% spaceless %}
<thead class="thead-light">
    <tr>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'questions' %}{{order}}{% endif %}" data-param-name="questions">
                {% if sort == 'questions' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Klantvraag/vragen" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'default_response' %}{{order}}{% endif %}" data-param-name="default_response">
                {% if sort == 'default_response' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Standaard antwoord Gem" %}
            </a>
        </th>
        <th scope='col'>
            <a href="#" class="sorting-link {% if sort == 'created' %}{{order}}{% endif %}" data-param-name="created">
                {% if sort == 'created' %}
                    {% if order == 'asc' %}
                        <i class="cui-sort-alpha-down"></i>
                    {% elif order == 'desc' %}
                        <i class="cui-sort-alpha-up"></i>
                    {% endif %}
                {% endif %}
                {% trans "Nieuw sinds" %}
            </a>
        </th>
        <th scope='col'></th>
    </tr>
</thead>
{% endspaceless %}
