{% load i18n %}
{% spaceless %}
<thead class="thead-light">
    <tr>
        <th scope='col'>{% trans "Klantvraag/vragen" %}</th>
        <th scope='col'>{% trans "Antwoord Gem" %}</th>
        <th scope='col'></th>
    </tr>
</thead>
{% endspaceless %}
