{% load i18n %}
{% load l10n %}
{% spaceless %}
<tr class="utter-row" role="button">
    <td class="w-16">{{verbose_name}}</td>
    <td class="w-16"></td>
    <td class="w-16">
        {% comment %} <ul class="utter-metadata__list">
            {% for attr in attrs %}
                <li>{{ attr }}</li>
            {% endfor %}
        </ul> {% endcomment %}
    </td>
    <td class="w-8">
        {% if "utters.hyperlink_write" in perms %}
        <a href="{% url 'gemeentes:hyperlink_create' gemeente_slug=current_gemeente.slug %}?name={{ name }}{% if site_config.hyperlinks_show_only_used_attributes %}{% for attr in attrs %}&required={{attr}}{% endfor %}{% endif %}"
            class="btn btn-success float-right ml-2">
            <i class="cui-library-add"></i> {% trans "Aanmaken" %}
        </a>
        {% endif %}
    </td>
</tr>
{% endspaceless %}
