{% load i18n %}
{% load l10n %}
{% spaceless %}
<tr class="utter-row" role="button">
    <td class="w-10">{{verbose_name}}</td>
    <td class="w-10">{{hyperlink.label}}</td>
    <td class="w-16">{{hyperlink.url}}</td>
    <td class="w-8">
        {% if "utters.hyperlink_write" in perms %}
        <a href="{% url 'gemeentes:hyperlink_delete' gemeente_slug=current_gemeente.slug hyperlink_pk=hyperlink.pk %}"
            class="btn btn-danger float-right ml-2 delete-button">
            <i class="cui-trash"></i>
        </a>
        <a href="{% url 'gemeentes:hyperlink_update' gemeente_slug=current_gemeente.slug hyperlink_pk=hyperlink.pk %}"
            class="btn btn-primary float-right ml-2">
            <i class="cui-pencil"></i> {% trans "Bewerken" %}
        </a>
        {% endif %}
    </td>
</tr>
{% endspaceless %}
