{% load i18n l10n markdownify format_response %}
{% spaceless %}
<tr class="utter-row" role="button">
    <td class="w-10">
        <ul class="utter-metadata__list">
            {% for question in data.metadata.metadata.questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ul>
    </td>
    <td class="w-16" data-toggle="tooltip" title="{{data.local_override_prod.utter}}">{{ data.local_override_prod.response|format_response:current_gemeente|markdownify }}</td>
    <td class="w-16">{{ data.local_default_prod.response|format_response:current_gemeente|markdownify }}</td>
    <td class="w-8">
        {{ data.default_modified_on|date:"d-m-Y" }}
        {% if data.local_override_prod.default_changed_after_local_changed %}
            <i
                class="utter-changed-warning cui-warning text-danger"
                data-toggle="tooltip"
                title="Let op: na het aanmaken of wijzigen van dit lokale antwoord is het landelijke standaardantwoord gewijzigd. Check of het lokale antwoord nog klopt. Je kunt 3 dingen doen:

1. Je lokale antwoord klopt nog > klik op 'Lokale variant klopt nog'
2. Je lokale antwoord moet aangepast worden > klik op 'Lokale variant aanpassen'
3. Je wilt terug naar het landelijke standaardantwoord > klik op het rode prullenbakje om je lokale variant te verwijderen"
            ></i>
        {% endif %}
    </td>
    <td class="w-8">{% include "utters/includes/auditlog.html" with utterresponse=data.local_override_prod only %}</td>
    {% comment %} <td class="col-xs-1">{% if metadata.required %}{% trans "Ja" %}{% else %}{% trans "Nee" %}{% endif %}</td> {% endcomment %}
    <td class="w-8">
        {% if "utters.utter_write" in perms %}
            {% include "utters/includes/antwoord_delete.html" with gemeente=current_gemeente antwoord=data.local_override_prod only %}
            {% include "utters/includes/antwoord_update.html" with gemeente=current_gemeente antwoord=data.local_override_prod only %}
            {% if data.local_override_prod.default_changed_after_local_changed %}
                {% include "utters/includes/antwoord_accept.html" with gemeente=current_gemeente antwoord=data.local_override_prod response=data.local_override_prod.response only %}
            {% endif %}
        {% endif %}
    </td>
</tr>
{% endspaceless %}
