{% load i18n l10n markdownify format_response %}
{% spaceless %}
<tr class="utter-row" role="button">
    <td class="w-10">
        <ul class="utter-metadata__list">
            {% for question in metadata.questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ul>
    </td>
    <td class="w-16">{{ default_response.response|format_response:current_gemeente|markdownify }}</td>
    <td class="w-8">{{ created|date:"d-m-Y" }}</td>
    <td class="w-8">
        {% if "utters.utter_write" in perms %}
            {% include "utters/includes/antwoord_create.html" with gemeente=current_gemeente utter_name=utter_name only %}
        {% endif %}
    </td>
</tr>
{% endspaceless %}
