{% load i18n l10n markdownify format_response %}
{% spaceless %}
<tr class="utter-row" role="button">
    <td class="w-10">
        <ul class="utter-metadata__list">
            {% for question in metadata.questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ul>
    </td>
    <td class="w-16" data-toggle="tooltip" title="{{antwoord.utter}}">{{ antwoord.response|format_response:current_gemeente|markdownify }}</td>
    {% comment %} <td class="col-xs-1">{% if metadata.required %}{% trans "Ja" %}{% else %}{% trans "Nee" %}{% endif %}</td> {% endcomment %}
    <td class="w-8">
        {% if "utters.utter_write" in perms %}
            {% include "utters/includes/antwoord_delete.html" with gemeente=current_gemeente antwoord=antwoord only %}
            {% include "utters/includes/antwoord_update.html" with gemeente=current_gemeente antwoord=antwoord only %}
        {% endif %}
    </td>
</tr>
{% endspaceless %}
