{% load i18n %}
{% spaceless %}
    <header class="app-header navbar">
        {% include 'components/logo/logo.html' %}
        {% include 'components/navigation/navigation.html' %}
        <ul class="nav navbar-nav ml-auto">
            {% include 'components/user/user.html' %}
        </ul>
    </header>
{% endspaceless %}

