{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs lookup %}

{% block title %}Antwoorden CMS | {% trans "Antwoorden" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb current_gemeente.name 'gemeentes:gemeente_detail' gemeente_slug=current_gemeente.slug %}
    {% breadcrumb "Specifieke antwoorden" 'gemeentes:stories_list' gemeente_slug=current_gemeente.slug category=kwargs.category %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoorden voor" %} {{category}} {% if request.GET.category %}{% trans "in categorie" %} {{ request.GET.category }}{% endif %}</b>
{#                    <button id="toggle-test-results" class="btn btn-primary float-right ml-2">{% trans "Toon testresultaten" %}</button>#}

                    {% if site_config.story_toggling_enabled %}
                        <select id="toggle-all-stories" class="custom-select mb-2 ml-2 w-auto float-right" data-story-id="{{story.story_id}}" {% if settings %}data-has-obj="true"{% endif %}>
                            {% comment %} Show all organisations here, based on API {% endcomment %}
                            <option value="empty" selected>---</option>
                            <option value="enabled">Inschakelen</option>
                            <option value="disabled">Uitschakelen</option>
                            <option value="crisis_answer">Crisisantwoord</option>
                            <option value="parking_answer">Parkerenantwoord</option>
                            <option value="handover_livechat">Doorschakelen naar medewerker</option>
                            {% for option in handover_options %}
                                <option value="{{option}}">Doorschakelen naar {{option}}</option>
                            {% endfor %}
                        </select>
                        <h5 class="mt-2 ml-auto float-right">Alle stories:</h5>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        {% include 'components/search/search_bar.html' %}
                    </div>
                    <div class="container-fluid">
                        {% include 'stories/table/header_story.html' only with sort=sort order=order %}
                        {% for story in stories %}
                            {% with forloop.first as first_story %}
                                {% for chain in story.chains %}
                                    {% if forloop.first %}
                                        {% include 'stories/table/row_story.html' with story=chain perms=perms current_gemeente=current_gemeente settings=story_settings|lookup:story.story_id first=first_story %}
                                    {% else %}
                                        {% include 'stories/table/row_story.html' with story=chain perms=perms current_gemeente=current_gemeente settings=story_settings|lookup:story.story_id variant=True %}
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{{ current_gemeente.slug|json_script:"municipality" }}
{% endblock %}
