$breakpoint-mobile-s: 320px !default;
$breakpoint-mobile-m: 375px !default;
$breakpoint-mobile-l: 425px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-laptop: 992px !default;
$breakpoint-desktop: 1200px !default;

$animation-default-duration-fast: 0.3s !default;
$animation-default-duration-medium: 1s !default;
$animation-default-duration-slow: 5s !default;
$animation-default-delay: 0s !default;
$animation-default-function: ease-in-out !default;

$color-black: black !default;
$color-white: white !default;
$color-gray: silver !default;
$color-gray-darker: #47535B !default;
$color-blue: blue !default;
$color-green: green !default;
$color-red: red !default;
$color-orange: orange !default;
$color-yellow: yellow !default;
$color-primary: $color-blue !default;
$color-secondary: $color-gray !default;
$color-background: $color-white !default;
$color-border: $color-gray !default;
$color-danger: $color-red !default;
$color-info: $color-blue!default;
$color-success: $color-green!default;
$color-warning: $color-orange!default;
$color-staging: #ffff9a;
$color-staging-light: #ffffaf;

$grid-columns-mobile: 4 !default;
$grid-columns-tablet: 9 !default;
$grid-columns-laptop: 12 !default;
$grid-columns-desktop: 12 !default;
$grid-gutter-base: 30px !default;
$grid-gutter-mobile: $grid-gutter-base !default;
$grid-gutter-tablet: $grid-gutter-base !default;
$grid-gutter-laptop: $grid-gutter-base !default;
$grid-gutter-desktop: $grid-gutter-base !default;
$grid-row-height: 40px !default;
$grid-container-margin-base: $grid-gutter-base / 2 !default;
$grid-container-padding-base: 0px !default;
$grid-container-margin: $grid-container-margin-base !default;
$grid-container-margin-small: $grid-container-margin-base !default;
$grid-container-margin-big: $grid-container-margin-base !default;
$grid-container-padding: $grid-container-padding-base !default;
$grid-container-padding-small: $grid-container-padding-base !default;
$grid-container-padding-big: $grid-container-padding-base !default;
$grid-container-size: $breakpoint-desktop - 2 * $grid-container-margin !default;
$grid-container-size-small: 800px !default;
$grid-container-size-big: 1400px !default;
$grid-margin-0: 5px !default;
$grid-margin-1: 10px !default;
$grid-margin-2: 20px !default;
$grid-margin-3: 30px !default;
$grid-margin-4: 40px !default;
$grid-margin-5: 50px !default;
$grid-margin-6: 60px !default;
$grid-margin-7: 70px !default;
$grid-margin-8: 80px !default;
$grid-margin-9: 90px !default;
$grid-margin-10: 100px !default;

$typography-color-base: $color-black !default;
$typography-color-text: $typography-color-base !default;
$typography-color-link: $color-blue !default;
$typography-color-link-hover: $typography-color-link !default;
$typography-color-h: $typography-color-base !default;
$typography-default-hover-link: true !default;
$typography-decoration-link: underline !default;
$typography-font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$typography-font-family-text: $typography-font-family-base !default;
$typography-font-family-h: $typography-font-family-base !default;
$typography-font-size-text: 1rem !default;
$typography-font-size-text-mobile: $typography-font-size-text !default;
$typography-font-size-text-tablet: $typography-font-size-text !default;
$typography-font-size-text-laptop: $typography-font-size-text !default;
$typography-font-size-text-desktop: $typography-font-size-text !default;
$typography-font-size-text-big: ($typography-font-size-text * 1.25) !default;
$typography-font-size-text-big-mobile: $typography-font-size-text-big !default;
$typography-font-size-text-big-tablet: $typography-font-size-text-big !default;
$typography-font-size-text-big-laptop: $typography-font-size-text-big !default;
$typography-font-size-text-big-desktop: $typography-font-size-text-big !default;
$typography-font-size-text-small: ($typography-font-size-text * 0.75) !default;
$typography-font-size-text-small-mobile: $typography-font-size-text-small !default;
$typography-font-size-text-small-tablet: $typography-font-size-text-small !default;
$typography-font-size-text-small-laptop: $typography-font-size-text-small !default;
$typography-font-size-text-small-desktop: $typography-font-size-text-small !default;
$typography-font-size-h1: ($typography-font-size-text * 2.5) !default;
$typography-font-size-h1-mobile: $typography-font-size-h1 !default;
$typography-font-size-h1-tablet: $typography-font-size-h1 !default;
$typography-font-size-h1-laptop: $typography-font-size-h1 !default;
$typography-font-size-h1-desktop: $typography-font-size-h1 !default;
$typography-font-size-h2: ($typography-font-size-text * 2) !default;
$typography-font-size-h2-mobile: $typography-font-size-h2 !default;
$typography-font-size-h2-tablet: $typography-font-size-h2 !default;
$typography-font-size-h2-laptop: $typography-font-size-h2 !default;
$typography-font-size-h2-desktop: $typography-font-size-h2 !default;
$typography-font-size-h3: ($typography-font-size-text * 1.75) !default;
$typography-font-size-h3-mobile: $typography-font-size-h3 !default;
$typography-font-size-h3-tablet: $typography-font-size-h3 !default;
$typography-font-size-h3-laptop: $typography-font-size-h3 !default;
$typography-font-size-h3-desktop: $typography-font-size-h3 !default;
$typography-font-size-h4: ($typography-font-size-text * 1.5) !default;
$typography-font-size-h4-mobile: $typography-font-size-h4 !default;
$typography-font-size-h4-tablet: $typography-font-size-h4 !default;
$typography-font-size-h4-laptop: $typography-font-size-h4 !default;
$typography-font-size-h4-desktop: $typography-font-size-h4 !default;
$typography-font-size-h5: ($typography-font-size-text * 1.25) !default;
$typography-font-size-h5-mobile: $typography-font-size-h5 !default;
$typography-font-size-h5-tablet: $typography-font-size-h5 !default;
$typography-font-size-h5-laptop: $typography-font-size-h5 !default;
$typography-font-size-h5-desktop: $typography-font-size-h5 !default;
$typography-font-size-h6: $typography-font-size-text !default;
$typography-font-size-h6-mobile: $typography-font-size-h6 !default;
$typography-font-size-h6-tablet: $typography-font-size-h6 !default;
$typography-font-size-h6-laptop: $typography-font-size-h6 !default;
$typography-font-size-h6-desktop: $typography-font-size-h6 !default;
$typography-font-weight-text: normal !default;
$typography-font-weight-h: bold !default;
$typography-font-weight-h1: $typography-font-weight-h !default;
$typography-font-weight-h2: $typography-font-weight-h !default;
$typography-font-weight-h3: $typography-font-weight-h !default;
$typography-font-weight-h4: $typography-font-weight-h !default;
$typography-font-weight-h5: $typography-font-weight-h !default;
$typography-font-weight-h6: $typography-font-weight-h !default;
$typography-line-height-base: 1.5 !default;
$typography-line-height-text: $typography-line-height-base !default;
$typography-line-height-text-mobile: $typography-line-height-text !default;
$typography-line-height-text-tablet: $typography-line-height-text !default;
$typography-line-height-text-laptop: $typography-line-height-text !default;
$typography-line-height-text-desktop: $typography-line-height-text !default;
$typography-line-height-text-big: $typography-line-height-base !default;
$typography-line-height-text-big-mobile: $typography-line-height-text-mobile !default;
$typography-line-height-text-big-tablet: $typography-line-height-text-mobile !default;
$typography-line-height-text-big-laptop: $typography-line-height-text-mobile !default;
$typography-line-height-text-big-desktop: $typography-line-height-text-mobile !default;
$typography-line-height-text-small: $typography-line-height-base !default;
$typography-line-height-text-small-mobile: $typography-line-height-text-mobile !default;
$typography-line-height-text-small-tablet: $typography-line-height-text-mobile !default;
$typography-line-height-text-small-laptop: $typography-line-height-text-mobile !default;
$typography-line-height-text-small-desktop: $typography-line-height-text-mobile !default;
$typography-line-height-h: 1.2 !default;
$typography-line-height-h1: $typography-line-height-h !default;
$typography-line-height-h1-mobile: $typography-line-height-h1 !default;
$typography-line-height-h1-tablet: $typography-line-height-h1 !default;
$typography-line-height-h1-laptop: $typography-line-height-h1 !default;
$typography-line-height-h1-desktop: $typography-line-height-h1 !default;
$typography-line-height-h2: $typography-line-height-h !default;
$typography-line-height-h2-mobile: $typography-line-height-h2 !default;
$typography-line-height-h2-tablet: $typography-line-height-h2 !default;
$typography-line-height-h2-laptop: $typography-line-height-h2 !default;
$typography-line-height-h2-desktop: $typography-line-height-h2 !default;
$typography-line-height-h3: $typography-line-height-h !default;
$typography-line-height-h3-mobile: $typography-line-height-h3 !default;
$typography-line-height-h3-tablet: $typography-line-height-h3 !default;
$typography-line-height-h3-laptop: $typography-line-height-h3 !default;
$typography-line-height-h3-desktop: $typography-line-height-h3 !default;
$typography-line-height-h4: $typography-line-height-h !default;
$typography-line-height-h4-mobile: $typography-line-height-h4 !default;
$typography-line-height-h4-tablet: $typography-line-height-h4 !default;
$typography-line-height-h4-laptop: $typography-line-height-h4 !default;
$typography-line-height-h4-desktop: $typography-line-height-h4 !default;
$typography-line-height-h5: $typography-line-height-h !default;
$typography-line-height-h5-mobile: $typography-line-height-h5 !default;
$typography-line-height-h5-tablet: $typography-line-height-h5 !default;
$typography-line-height-h5-laptop: $typography-line-height-h5 !default;
$typography-line-height-h5-desktop: $typography-line-height-h5 !default;
$typography-line-height-h6: $typography-line-height-h !default;
$typography-line-height-h6-mobile: $typography-line-height-h6 !default;
$typography-line-height-h6-tablet: $typography-line-height-h6 !default;
$typography-line-height-h6-laptop: $typography-line-height-h6 !default;
$typography-line-height-h6-desktop: $typography-line-height-h6 !default;
$typography-margin-base: 1rem !default;
$typography-margin-text: $typography-margin-base !default;
$typography-margin-text-mobile: $typography-margin-text !default;
$typography-margin-text-tablet: $typography-margin-text !default;
$typography-margin-text-laptop: $typography-margin-text !default;
$typography-margin-text-desktop: $typography-margin-text !default;
$typography-margin-hr: $typography-margin-base !default;
$typography-margin-hr-mobile: $typography-margin-hr !default;
$typography-margin-hr-tablet: $typography-margin-hr !default;
$typography-margin-hr-laptop: $typography-margin-hr !default;
$typography-margin-hr-desktop: $typography-margin-hr !default;
$typography-margin-list: $typography-margin-base !default;
$typography-margin-list-mobile: $typography-margin-list !default;
$typography-margin-list-tablet: $typography-margin-list !default;
$typography-margin-list-laptop: $typography-margin-list !default;
$typography-margin-list-desktop: $typography-margin-list !default;
$typography-margin-table: $typography-margin-base 0 !default;
$typography-margin-table-mobile: $typography-margin-table !default;
$typography-margin-table-tablet: $typography-margin-table !default;
$typography-margin-table-laptop: $typography-margin-table !default;
$typography-margin-table-desktop: $typography-margin-table !default;
$typography-margin-h: 0.5rem !default;
$typography-margin-h1: $typography-margin-h !default;
$typography-margin-h1-mobile: $typography-margin-h1 !default;
$typography-margin-h1-tablet: $typography-margin-h1 !default;
$typography-margin-h1-laptop: $typography-margin-h1 !default;
$typography-margin-h1-desktop: $typography-margin-h1 !default;
$typography-margin-h2: $typography-margin-h !default;
$typography-margin-h2-mobile: $typography-margin-h2 !default;
$typography-margin-h2-tablet: $typography-margin-h2 !default;
$typography-margin-h2-laptop: $typography-margin-h2 !default;
$typography-margin-h2-desktop: $typography-margin-h2 !default;
$typography-margin-h3: $typography-margin-h !default;
$typography-margin-h3-mobile: $typography-margin-h3 !default;
$typography-margin-h3-tablet: $typography-margin-h3 !default;
$typography-margin-h3-laptop: $typography-margin-h3 !default;
$typography-margin-h3-desktop: $typography-margin-h3 !default;
$typography-margin-h4: $typography-margin-h !default;
$typography-margin-h4-mobile: $typography-margin-h4 !default;
$typography-margin-h4-tablet: $typography-margin-h4 !default;
$typography-margin-h4-laptop: $typography-margin-h4 !default;
$typography-margin-h4-desktop: $typography-margin-h4 !default;
$typography-margin-h5: $typography-margin-h !default;
$typography-margin-h5-mobile: $typography-margin-h5 !default;
$typography-margin-h5-tablet: $typography-margin-h5 !default;
$typography-margin-h5-laptop: $typography-margin-h5 !default;
$typography-margin-h5-desktop: $typography-margin-h5 !default;
$typography-margin-h6: $typography-margin-h !default;
$typography-margin-h6-mobile: $typography-margin-h6 !default;
$typography-margin-h6-tablet: $typography-margin-h6 !default;
$typography-margin-h6-laptop: $typography-margin-h6 !default;
$typography-margin-h6-desktop: $typography-margin-h6 !default;
$typography-margin-property-base: margin-bottom !default;
$typography-margin-property-text: $typography-margin-property-base !default;
$typography-margin-property-h: $typography-margin-property-base !default;
$typography-margin-property-hr: $typography-margin-property-base !default;
$typography-margin-property-list: $typography-margin-property-base !default;
$typography-margin-property-table: margin !default;
$typography-margin-property-h1: $typography-margin-property-h !default;
$typography-margin-property-h2: $typography-margin-property-h !default;
$typography-margin-property-h3: $typography-margin-property-h !default;
$typography-margin-property-h4: $typography-margin-property-h !default;
$typography-margin-property-h5: $typography-margin-property-h !default;
$typography-margin-property-h6: $typography-margin-property-h !default;
$typography-padding-table: $grid-margin-1 0 !default;
$typography-size-border: 1px !default;
$typography-style-border: solid !default;

$util-shadow-default-color: rgba($color-black, 0.15) !default;
$util-shadow-default-offset-x: 0 !default;
$util-shadow-default-offset-y: 0.5rem !default;
$util-shadow-default-blur: 1rem !default;
$util-shadow-default-spread: 0 !default;
